/* =====================================================
Elements imports
===================================================== */
@import "bootstrap.less";
@import "bootstrap-plugins.less";
@import "menu_system.less";
@import "plugins.less";
@import "widgets.less";
@import "entry.less";
@import "../global/rs_toolkit.less";

/* -----------------------------------------------------
2.35 - Chrome focus reset
----------------------------------------------------- */
input:focus, textarea:focus {
  outline: 0 !important;
}

/* -----------------------------------------------------
2.36 - Decor lines
----------------------------------------------------- */
.head-decor-line-one {
  height: 32px;
  background: url("../images/line_pattern_variation_one.png") repeat-x;
}

.slider-decor-line-one {
  height: 32px;
  top: -32px;
  position: relative;
  z-index: 100;
  background: url("../images/line_pattern_variation_three.png") repeat-x;
}

.footer-decor-line-one {
  height: 32px;
  position: relative;
  background: url("../images/line_pattern_variation_two.png") repeat-x;
}

/* -----------------------------------------------------
2.37 - Pagination
----------------------------------------------------- */
.pagination {
  margin: 0;
  border-radius: 0;
  a {
    display: block;
    text-align: center;
    line-height: 24px;
    padding: @xs-space;
  }
  ul {
    .ul-li-inline();
    .ul-li-horizontal-spacing-xs();
    li {
      a {
        color: @white;
      }
      .all-transition();
      height: 36px;
      width: 36px;
      border-radius: 50%;
      background: @beta;
      padding: 0;
    }
    li:hover {
      background: @alpha;
      a {
        color: @white;
      }
    }
  }
}

/* -----------------------------------------------------
2.38 - Team member
----------------------------------------------------- */
.team-member {
  max-width: 360px;
  margin: 0 auto;
  .team-content {
    padding-top: 16px;
  }
  .team-content, .team-thumb {
    background: @gamma;
  }
  .team-thumb {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  .team-thumb img {
    border-radius: 50%;
    //max-width: 270px;
  }
  .team-excerpt {
    line-height: 32px;
    margin: 0 8px 16px 8px;
  }
  h3, p, .team-social {
    text-align: center;
  }
  .team-social {
    padding: 8px 0;
    background-color: @box-bg-beta;
    i {
      .all-transition();
      color: @white;
    }
    a {
      border: 0;
    }
    a:hover i {
      color: @typo-hover-alpha;
    }
  }
}

/* -----------------------------------------------------
2.39 - Shop progress
----------------------------------------------------- */
.shop-progress {
  //margin-bottom: @md-space;
  li {
    line-height: @lg-space;
    text-align: center;
    width: 25%;
    position: relative;
  }
  li.on {
    border-bottom: 3px solid @alpha;
  }
  li.on.current {
    &::after{
      content: "";
      color: white;
      background-color: @alpha;
      height: @md-space;
      width: @md-space;
      border: none;
      border-radius: 50%;
      display: block;
      position: absolute;
      left: 50%;
      bottom:-13px;
    }
  }
  li.off {
    border-bottom: 3px solid @gamma;
  }
}

/* -----------------------------------------------------
2.39 - Shop progress
----------------------------------------------------- */
.testimonials {
  z-index: 1000;
  height: auto;
  background-position: center center;
  .clearfix();
  .testimonials-avatar {
    float: left;
    width: 107px;
    height: 107px;
    margin-right: @md-space;
  }
  .testimonials-text {
    overflow: hidden;
  }
  .divider-vertical {
    border-color: @gamma;
  }
  p, h1, h2, h3, h4, h5, h6, .divider-vertical {
    color: @white;
    margin-bottom: @md-space;
  }
  h3 {
    color: @white;
    margin-bottom: @sm-space;
  }
  img {
    border-radius: 50%;
  }
  .slick-nav {
    border-radius: 50%;
  }
}

/* -----------------------------------------------------
2.41 - Standard social
----------------------------------------------------- */
.standard-social {
  text-align: left;
  .rs-btn-social {
    padding: @xs-space;
  }
  i {
    .all-transition();
    font-size: @sm-space;
    color: @alpha;
  }
  a {
    border: 0;
    background-color: @white;
    border-radius: 50%;
    margin-right: @xs-space;
  }
  a:hover i {
    color: @typo-hover-alpha;
  }
}

/* -----------------------------------------------------
2.42 - Clients
----------------------------------------------------- */
.client-image img {
  margin: 0 auto;
}

/* -----------------------------------------------------
2.43 - Divider vertical
----------------------------------------------------- */
.divider-vertical {
  border-bottom: 1px solid @gamma;
  height: 1px;
  padding: 0;
  margin: 0 80% @xs-space 0;
}
.divider-vertical.postive-divider{
  border-color: @alpha;
}
/* -----------------------------------------------------
2.44 - Nab tabs / Shop
----------------------------------------------------- */
.nav-tabs {
  border-bottom: 2px solid @gamma;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border-width: 0;
}

.nav-tabs > li > a {
  border: none;
  color: @beta;
  padding: @sm-space 0;
  margin-right: @sm-space;
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
  border: none;
  color: @alpha !important;
  background: transparent;
}

.nav-tabs > li > a::after {
  content: "";
  background: @alpha;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -2px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}

.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
  transform: scale(1);
}

.tab-nav > li > a::after {
  background: #21527d none repeat scroll 0% 0%;
  color: #fff;
}

.tab-pane {
  padding: 0;
}

.tab-content {
  padding: @md-space 0 0 0;
}

.card {
  background: #FFF none repeat scroll 0% 0%;
  /*box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);*/
}

/* -----------------------------------------------------
2.45 - Sk folding cube
----------------------------------------------------- */
.load-screen {
  background: @white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  height: 100%;
  width: 100%;
}

.sk-folding-cube {
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  position: absolute;
  left: 50%;
  top: 50%;
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: @alpha;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

/* -----------------------------------------------------
2.46 - Google maps
----------------------------------------------------- */
.google-maps-place {
  ul {
    margin-bottom: 10px;
  }
}

#google-maps {
  width: 100%;
  height: 400px;
  margin-bottom: @lg-space;
}

/* -----------------------------------------------------
2.47 - Back to top
----------------------------------------------------- */
#back-to-top {
  &.affix-top {
    position: absolute;
    bottom: -82px;
    right: 10px;
    z-index: 1002;
  }
  &.affix {
    position: fixed;
    bottom: 18px;
    right: 10px;
    z-index: 1002;
  }
  i {
    font-size: @lg-space;
  }
}
/* -----------------------------------------------------
2.48 - Signature
----------------------------------------------------- */
.signature{
  margin-bottom: @md-space;
}