@import "../global/variables.less";
@import "../global/rs_toolkit.less";
/* =====================================================
2.34 - Entry
===================================================== */
/* -----------------------------------------------------
Entry design
----------------------------------------------------- */
.entry {
  .clearfix();
}

.entry-video {
  margin-bottom: @md-space;
}

.entry-design {
  background: @box-bg-alpha;
  margin-bottom: @lg-space;
  .entry-image {
  }
  .entry-title, .entry-excerpt, .entry-read-more, .entry-single-portfolio {
    margin: 0 @md-space @md-space @md-space;
  }
  /* Entry title center ***/
  .entry-title-center {
    padding: @sm-space;
    background: @alpha;
    color: @white;
  }
  .entry-title-center h1, .entry-title-center h2, .entry-title-center h3, .entry-title-center h4, .entry-title-center h5, .entry-title-center h6 {
    margin: 0;
    text-align: center;
    color: @white;
  }
  /* Entry title default ***/
  .entry-title {
    h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }
  }
  /* Entry details ***/
  .entry-details {
    margin-bottom: @md-space;
    padding: @sm-space;
    background: @box-bg-beta;
    span, i {
      color: @white;
    }
    > span {
      margin-right: @xs-space;
    }
  }
  /* Entry shop details ***/
  .entry-shop-details {
    .clearfix();
    background: @white;
    .left, .right {
      width: 50%;
      float: left;
      text-align: center;
    }
    .left {
      a {
        background: @white;
        display: block;
        padding: @sm-space;
      }
      a:hover {
        background: @beta;
        color: @white;
      }
    }
    .right {
      p {
        margin: 0;
        padding: @sm-space;
      }
    }
  }
  /* Entry excerpt ***/
  .entry-excerpt {
    p {
      line-height: 32px;
      margin: 0;
    }
  }
  /* Entry tags ***/
  .entry-tags {
    padding: @sm-space;
    background: @beta;
    ul {
      margin: 0;
      text-align: center;
      li {
        padding: 0;
      }
    }
  }
  /* Entry item rating ***/
  .entry-item-rating {
    .clearfix();
    position: relative;
    .raty-plugin {
      position: absolute;
      transform: translate(-50%, 0);
      left: 50%;
      top: -24px;
    }
  }

  /* Entry portfolio tags ***/
  .entry-portfolio-tags {
    padding: @sm-space;
    background: @beta;
    ul {
      .ul-li-inline();
      .ul-li-horizontal-spacing-xs();
      text-align: center;
      li, li span {
        color: @white;
      }
    }
  }
  /* Entry single portfolio ***/
  .entry-single-portfolio {
    .clearfix();
  }
  /* Entry read more ***/
  .entry-read-more {

  }
  .entry-more-details {
    text-align: center;
    a {
      display: block;
      background: @beta;
      color: @white;
      padding: @sm-space;
      border: 1px solid @beta;
    }
    a:hover {
      background: @white;
      color: @beta;
    }
  }
}

/* -----------------------------------------------------
Special contents
----------------------------------------------------- */
.entry-video-full-width {
  height: 450px;
  margin-bottom: 0;
}

/* Entry video ***/
.entry-video {
  iframe {
    width: 100%;
    height: 450px;
  }
}

/* -----------------------------------------------------
List blog template
----------------------------------------------------- */
.list-blog-element {
  .entry-design();
}

/* -----------------------------------------------------
Post format
----------------------------------------------------- */
[class*="-content-type"] {
  //.list-blog-content-type {
  .standard-post-format {
  }
  .quote-post-format {
    blockquote {
      font-size: 14px;
      background: #f9f9f9;
      border-left: 2px solid @alpha;
      margin: 0;
      padding-left: @sm-space;
      line-height: 24px;
      quotes: "\201C""\201D""\2018""\2019";
      font-style: italic;
    }
    blockquote p {
      display: inline;
    }
  }
  .video-post-format .entry-video {
    margin: 0;
  }
}

/* -----------------------------------------------------
Video entry sizes
----------------------------------------------------- */
.list-blog-content-type {
  .list-blog-element .entry-video iframe, .list-blog-element .entry-video {
    height: 455px;
  }
}

/* -----------------------------------------------------
Portfolio
----------------------------------------------------- */
.isotope-filters {
  .clearfix();
  text-align: center;
  button {
    display: block;
    padding: @sm-space;
  }
  ul {
    .ul-li-inline();
    .ul-li-both-spacing-xs();
  }
}

.portfolio-content-type {
  .portfolio-element {
    height: auto;
    width: @portfolio-element-width;
    position: relative;
    float: left;
    .entry-design();
    /* Design specific ***/
    .entry-title {
      margin: 0;
    }
    img {
      height: @portfolio-element-img-height;
    }
  }
}

/* -----------------------------------------------------
Single Portfolio
----------------------------------------------------- */
.single-portfolio {
  .entry-design();
  margin-bottom: 0;
  .single-portfolio-entry-details {
  }
  .entry-single-portfolio {
    .entry-excerpt {
    }
  }

}

/* -----------------------------------------------------
Releated Portfolio
----------------------------------------------------- */
.css-releated-gallery {
  .bs-grid-out();
  .slick-nav {
    top: 135px;
  }
  .slick-prev {
    left: @sm-space;
  }
  .slick-next {
    right: @sm-space;
  }
  .entry {
    .entry-design();
    margin-bottom: 0;
  }
  .releated-portfolio-element {
    padding: 0 @sm-space;
  }
  .releated-portfolio-tags {
  }
}

.slick-slider-releated {
  .bs-grid-out();
}

/* -----------------------------------------------------
Marsonry blog styles
----------------------------------------------------- */
.masonry-blog-content-type {
  .clearfix();
  .masonry-blog-element {
    height: auto;
    float: left;
    position: relative;
    //overflow: hidden;
    .entry-design();
    /* Design specific ***/
    margin: 0 @sm-space @md-space @sm-space;
  }
}/* -----------------------------------------------------
Testimonials content type
----------------------------------------------------- */

.testimonials-content-container{
  width: 100%;
  overflow: hidden;
  .testimonials-content-type{
    margin-bottom: @lg-space;
  }
}
/* -----------------------------------------------------
Marsonry blog sizes
----------------------------------------------------- */
.two-column-masonry-element {
  width: 554px;
  .entry-image, .entry-video iframe, .entry-video {
    height: 554px;
  }
}

.three-column-masonry-element {
  width: 364px;
  .entry-image, .entry-video iframe, .entry-video {
    height: 364px;
  }
}

.four-column-masonry-element {
  width: 264px;
  .entry-image, .entry-video iframe, .entry-video {
    height: 264px;
  }
  .entry-image img {
    width: 264px;
    height: 264px;
  }
}

/* -----------------------------------------------------
Shop
----------------------------------------------------- */
.shop-content-type-with-sidebar, .shop-content-type-without-sidebar{
  margin: 0;
}
.shop-content-type-with-sidebar {
  .shop-element {
    width: 262px;
    img {
      max-width: 262px;;
    }
  }
}

.shop-content-type-without-sidebar {
  .shop-element {
    width: 264px;
    img {
      max-width: 264px;
    }
  }
}

.shop-content-filters {
  margin: 0 @sm-space @md-space @sm-space;
}

.shop-content-type {
  .clearfix();
  .shop-element {
    float: left;
    .entry-design();
    /* Design specific ***/
    margin: 0 @sm-space @md-space @sm-space;
    .entry-title {
      margin: 0;
    }
    .entry-shop-details{
      .right p{
        font-weight: bold;
      }
    }
  }
}

/* -----------------------------------------------------
Shop content type latest products
----------------------------------------------------- */
.shop-content-type-latest-products {
  .bs-grid-out();
  .shop-element {
    float: none;
    max-width: 360px;
    margin: 0 auto;
  }
}

/* -----------------------------------------------------
Single product
----------------------------------------------------- */
.single-product {
  .single-product-categories{
    margin-bottom: @sm-space;
  }
  .single-product-title, .single-product-price, .single-product-text, .single-product-quantity, .single-product-read-more, .single-product-tags {
    margin-bottom: @md-space;
  }
}

/* -----------------------------------------------------
Pages
----------------------------------------------------- */
.page-content-type {
}

/* -----------------------------------------------------
Cart
----------------------------------------------------- */
table.cart-table {
  th,td {
    border: 0;
  }
  td:nth-child(1) {
    text-align: center;
  }
  th {
    background: @beta;
    color: @white;
  }
  td {

  }
  input {

  }
}

.cart-list {
  li {
    .clearfix();
    span.left {
      float: left;
    }
    span.right {
      float: right;
    }
  }
}

.cart-input {
  width: 34px;
  padding: @xs-space !important;
}

.cart-negative, .cart-positive {
  padding: @xs-space;
  background: @beta;
  color: @white;
  display: block;
  text-align: center;
  border-radius: 50%;
  width: 30px;
}

.cart-negative:hover, .cart-positive:hover {
  background: @alpha;
  color: @white;
}