/* =====================================================
2.25 - Menu systems
===================================================== */
@import "../global/variables.less";
@import "../global/effects.less";
/* -----------------------------------------------------
Global and First level
----------------------------------------------------- */
.main-menu-container{
  a {
    color: @white;
    display: block;
    white-space: nowrap;
  }
  ul {
    z-index: 1000;
    list-style: none;
    position: relative;
    display: block;
    margin-bottom: 0;
    li {
      z-index: 1000;
      float: left;
      .all-transition;
      position: relative;
    }
  }
  &> ul{
    height: inherit;
  }
  &> ul > li {
    height: inherit;
    a {
      font-weight: bold;
    }
  }
}
/* -----------------------------------------------------
Second level
----------------------------------------------------- */
.main-menu-container ul ul {
  visibility: hidden;
  opacity: 0;
  background: @alpha;
  padding: 0;
  position: absolute;
  top: 100%;
  a{
    padding: @xs-space;
  }
  a, li{
    width: 100%;
  }
}
.main-menu-container ul li:hover > ul {
  .all-transition;
  opacity: 1;
  visibility: visible;
}
.main-menu-container ul ul li:first-child{
  //border-top: solid @beta 2px;
}
.main-menu-container ul ul li {
  margin: 0;
  float: none;
  position: relative;
  padding: @sm-space;
}
.main-menu-container ul ul li:last-child{
  border-bottom: none;
}
.main-menu-container ul ul li:hover{
  background: @beta;
}
.main-menu-container ul ul li a {

}
.main-menu-container ul ul li a:hover {

}
/* -----------------------------------------------------
Third level
----------------------------------------------------- */
.main-menu-container ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}