@import "../global/rs_toolkit.less";

/* -----------------------------------------------------
2.26 - Settings for banner containers
----------------------------------------------------- */
.boxedcontainer {
  max-width: 1170px;
  margin: auto;
  padding: 0px 30px;
}
.tp-banner-container {
  width: 100%;
  position: relative;
  padding: 0;
  z-index: -1;
}

.tp-banner {
  width: 100%;
  position: relative;
}

.tp-banner-fullscreen-container {
  width: 100%;
  position: relative;
  padding: 0;
}

/* -----------------------------------------------------
2.27 - Revolution Slider Typography
----------------------------------------------------- */
.tp-big-font-normal {
  font-size: 48px;
}

.tp-big-font-bold {
  font-size: 48px;
  font-weight: bold;
}

.tp-white-text, .tp-white-text div {
  color: @white !important;
}

/* -----------------------------------------------------
2.28 - Slick carousel ???
----------------------------------------------------- */
.slick-carousel .slick-slide {
  margin-left: 15px;
  margin-right: 15px;
}

/* -----------------------------------------------------
2.29 - Slicknav
----------------------------------------------------- */
.slicknav_menu {
  background: @alpha;
  ul li:hover a {
    background: @beta;
    color: @white;
  }
}

a.slicknav_btn {
  background: @beta;
}

/* -----------------------------------------------------
2.30 - Slick slider
----------------------------------------------------- */
.slick-slider {
  margin: 0;
}

/* -----------------------------------------------------
2.31 - Slick navigation
----------------------------------------------------- */
.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slick-nav {
  height: 38px;
  width: 38px;
  margin-top: -19px;
  border: 0;
  font-size: 18px;
  color: @alpha;
  top: 50%;
  z-index: 100;
}

.slick-nav, .slick-nav:focus {
  background: @alpha;
  color: @white;
}

.slick-nav:before {
  content: '';
  display: none;
}

.slick-nav:hover, .slick-nav:active, .slick-nav:visited {
  background: @beta;
  color: white;
}

.slick-slider-four .slick-prev {

}

.slick-slider-four .slick-next {

}

/* -----------------------------------------------------
2.32 - ScrollReveal
----------------------------------------------------- */
[data-sr] {
  visibility: hidden;
}