@import "../global/variables.less";
@import "../global/rs_toolkit.less";
@import "../global/typography.less";
/* =====================================================
2.33 - Widgets
===================================================== */
/* -----------------------------------------------------
All widget
----------------------------------------------------- */
.widget {
  margin-bottom: @md-space;
}

/* -----------------------------------------------------
Widget list design
----------------------------------------------------- */
.widget-list-design {
  position: relative;
  li {
    border-bottom: 1px solid @gamma;
    margin-bottom: @xs-space;
  }
  a {
    margin-left: 16px;
  }
  a:before {
    content: "\f105";
    font-family: FontAwesome;
    text-align: center;
    position: absolute;
    left: 0px;
    display: block;
    height: 20px;
    width: 20px;
    margin-top: -1px;
  }
}

/* -----------------------------------------------------
Price filter
----------------------------------------------------- */
.price-filter-widget {
  .filter-set {
    .clearfix();
    margin-top: @sm-space;
    .left, .right {
      float: left;
    }
    .left {
      width: 30%;
    }
    .right {
      width: 70%;
      input {
        border: 0;
      }
    }
    .price-filter-value {
      border: 0;
    }
  }
}

/* -----------------------------------------------------
Price filter
----------------------------------------------------- */
.noUi-base {
  background: @beta;
  .noUi-handle {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    top: 0;
    border: 3px solid @alpha;
    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
  }
  .noUi-origin {
    border-radius: 0;
    background: @alpha;
    .noUi-handle-lower {
      left: 0;
    }
  }
  .noUi-origin:last-child {
    background: @beta;
  }
}

/* -----------------------------------------------------
Latest products
----------------------------------------------------- */
.latest-products-widget {
  .products {
    margin: 0;
    li {
      margin-bottom: @md-space;
      padding: 0;
    }
    .split-box {
      .clearfix();
    }
    .left {
      margin-right: @sm-space;
    }
    .left, .right {
      float: left;
    }
    img {
      width: 64px;
      height: auto;
      .all-transition();
    }
    img:hover {
      border: 2px solid @alpha;
    }
    p {
      margin-bottom: @xs-space;
    }
  }
}

/* -----------------------------------------------------
Tagcloud
----------------------------------------------------- */
.tag-cloud-widget {
  .clearfix();
  a {
    background: @beta;
    color: @white;
    padding: @sm-space;
    float: left;
    margin: 0 @sm-space @sm-space 0;
  }
  a:hover {
    color: @alpha;
  }
}

/* -----------------------------------------------------
Recent posts
----------------------------------------------------- */
.recent-posts-widget {
  .recent-posts {
    .widget-list-design();
  }
}

/* -----------------------------------------------------
Categories
----------------------------------------------------- */
.categories-widget {
  .categories {
    .widget-list-design();
  }
}

/* -----------------------------------------------------
Archive
----------------------------------------------------- */
.archive-widget {
  .archive {
    .widget-list-design();
  }
}

/* -----------------------------------------------------
Comment list
----------------------------------------------------- */
.comments-list-widget {
  .comments-list {
    .ul-li-vertical-spacing-xs();
    a {
      color: @beta;
      .bold();
    }
    a:hover, a:active {
      color: @alpha;
    }
  }
}