@import "global/variables.less";
@import "global/rs_toolkit.less";
@import "global/sizes.less";
/* -----------------------------------------------------
3.1 - Rs css sticky footer
----------------------------------------------------- */
html, body{
  height: 100%;
}
html, body, .wrapper{
  //overflow: auto;
}
.wrapper{
  position:relative;
  min-height: 100%;
  height: auto;
}
section.content{
  //margin-bottom: @footer-height*-1;
  //overflow:auto;
}
section.content:after {
  content: "";
  display: block;
}
footer, section.content:after {
  //height: @footer-height;
}
/* -----------------------------------------------------
3.2 - Footer
----------------------------------------------------- */
footer {
  position: relative;
  clear: both;
  bottom: 0;
  .primary-footer {
    background: @beta;
    padding: @lg-space 0;
    .team-social a, p, ul li {
      color: @white;
    }
    .team-social a {
      border: 0;
      &:hover {
        color: @alpha;
      }
    }
    p {
      line-height: 32px;
    }
    p, h1, h2, h3, h4, h5, h6, a {
      color: @white;
      text-align: center;
    }
    .col-md-3 {
      p, h1, h2, h3, h4, h5, h6, a {
        text-align: left;
      }
      a:hover {
        color: @alpha;
      }
    }
    .widget {
      margin-bottom: 0;
      & > ul {
        .ul-li-vertical-spacing-sm();
        .ul-li-vertical-padding-xs();
        & > li {
          border-bottom: 1px solid @delta;
        }
        & > li:last-child {
          border: 0;
        }
      }
    }
    .footer-social {
      text-align: center;
      margin-bottom: @md-space;
      .rs-btn-social {
        padding: @md-space;
      }
      i {
        .all-transition();
        color: @alpha;
      }
      a {
        border: 5px solid @beta-border;
        background-color: @white;
        border-radius: 50%;
        margin-right: @md-space;
      }
      a:hover i {
        color: @typo-hover-alpha;
      }
    }
  }

  .secondary-footer {
    position: relative;
    background: @white;
    padding: @md-space 0;
    .clearfix();
    p {
      margin: 0;
    }
    .footer-menu {
      ul {
        .ul-li-inline();
        .ul-li-horizontal-padding-xs();
      }
    }
  }
}

