@import "global/variables.less";
@import "global/effects.less";
@import "global/rs_toolkit.less";
@import "global/sizes.less";

/* -----------------------------------------------------
1.1 - Header
----------------------------------------------------- */
header {
  margin-bottom: @lg-space;
  z-index: 1;
}
/* -----------------------------------------------------
1.2 - Primary head
----------------------------------------------------- */
.primary-head {
  height: 128px;
  background: @white;
  & > div, & > div > div, & > div > div > div {
    height: inherit;
  }
  .site-description {
    .box-push-vertical-center();
  }
  .logo {
    .box-push-parent();
    img {
      .box-push-horizontal-center();
      top: 30px;
    }
  }
  .mini-cart{
    margin-top: 48px;
    float: right;
    .mini-cart-dropdown{
      z-index: 1002;
      position: absolute;
      display: none;
      width: 286px;
      top: 100px;
      right: 0;
      padding: @md-space;
      background: @white;
      .align-left button{
        width: 100%;
        display: block;
      }
      .align-left:first-child button{
        margin-right: @xs-space;
      }
      .align-left:last-child button{
        margin-left: @xs-space;
      }
      table{
        border: 0;
        td{
          border: 0;
        }
      }
    }
    .mini-cart-counter{
      background: @alpha;
      border-radius: 50%;
      padding: @xs-space;
      color: @white;
      display: block;
      width: 31px;
      text-align: center;
    }
  }
  .primary-head-circle-parent {
    position: relative;
    .primary-head-circle {
      background: @alpha;
      .box-push-horizontal-center();
      width: @primary-head-circle;
      height: @primary-head-circle/2;
      border-radius: @primary-head-circle/2 @primary-head-circle/2 0 0;
      -moz-border-radius: @primary-head-circle/2 @primary-head-circle/2 0 0;
      -webkit-border-radius: @primary-head-circle/2 @primary-head-circle/2 0 0;
    }
  }
}
/* -----------------------------------------------------
1.3 - Secondary head
----------------------------------------------------- */
.secondary-head {
  background: @alpha;
  .left-main-menu {
    ul li {
      margin-right: @md-space;
    }
  }

  .right-main-menu {
    .clearfix();
    ul {
      float: right;
    }
    & > ul > li {
      margin-left: @md-space;
    }
  }

  .left-main-menu, .right-main-menu {
    padding: @sm-space 0;
    .clearfix();
    ul {
      .clearfix();
      margin: 0;
    }
    & > ul > li {
      padding: 40px 0;
    }
    li {
      a {
        display: block;
      }
      a:hover {
        h1, h2, h3, h4, h5, h6 {
          color: @beta;
        }
      }
      h1, h2, h3, h4, h5, h6 {
        margin: 0;
        color: @white;
        .all-transition();
      }
    }
  }
}
/* -----------------------------------------------------
1.4 - Quaternary head
----------------------------------------------------- */
.quaternary-head {
  display: none;
  position: fixed;
}