@import "global/rs_toolkit.less";
/* =====================================================
4 - Responsive
===================================================== */
/* Large desktops and laptops */
@media (min-width: 1200px) {
  .container {
    width: 1176px; // Original 1170
  }
  .tp-banner-container {
    top: -75px;
    margin-bottom: -75px;
  }
  .slicknav_menu {
    display:none;
    margin-bottom: 0;
  }
  .secondary-footer{
    .footer-menu{
      margin-bottom: 0;
    }
    p{
      text-align: right;
    }
  }
  .services-block .row {
    & > [class*="col-"] {
      text-align: left;
      * {
        text-align: left;
      }
    }
  }
  .services-block{
    img{
      margin-bottom: 0;
    }
  }
  .testimonials {
    padding: 86px 160px;
    .slick-prev{
      left: -60px;
    }
    .slick-next {
      right: -60px;
    }
  }
  .half-box-parent .half-box{
    width: 50%;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .slicknav_menu {
    display:block;
    margin-bottom: @lg-space;
  }
  header{
    display: none;
  }
  .secondary-footer{
    .footer-menu{
      margin-bottom: @sm-space;
    }
    p{
      text-align: left;
    }
  }
  .services-block .row {
    & > [class*="col-"] {
      text-align: left;
      * {
        text-align: left;
      }
    }
  }
  .portfolio-content-type{
    margin: 0 88px;
  }
  .services-block{
    img{
      margin-bottom: 0;
    }
  }
  .testimonials {
    padding: @lg-space 160px;
    .slick-prev{
      left: -60px;
    }
    .slick-next {
      right: -60px;
    }
  }
  .half-box-parent .half-box{
    width: 50%;
  }
  .shop-content-type-with-sidebar{
    margin: 0 65px;
  }
  .shop-content-type-without-sidebar{
    margin: 0 185px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .slicknav_menu {
    display:block;
    margin-bottom: @lg-space;
  }
  header{
    display: none;
  }
  .secondary-footer{
    .footer-menu{
      margin-bottom: @sm-space;
    }
    p{
      text-align: left;
    }
  }
  .services-block .row {
    & > [class*="col-"] {
      text-align: center;
      * {
        text-align: center;
      }
    }
  }
  .portfolio-content-type{
    margin: 0 170px;
  }
  .services-block{
    img{
      margin-bottom: @md-space;
    }
  }
  .testimonials {
    padding: @lg-space 160px;
    .slick-prev{
      left: -60px;
    }
    .slick-next {
      right: -60px;
    }
  }
  .half-box-parent .half-box{
    width: 50%;
  }
  .shop-content-type-with-sidebar{
    margin: 0 77px;
  }
  .shop-content-type-without-sidebar{
    margin: 0 75px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .slicknav_menu {
    display:block;
    margin-bottom: @lg-space;
  }
  header{
    display: none;
  }
  .secondary-footer{
    .footer-menu{
      margin-bottom: @sm-space;
    }
    p{
      text-align: left;
    }
  }
  .services-block .row {
    & > [class*="col-"] {
      text-align: center;
      * {
        text-align: center;
      }
    }
  }
  .portfolio-content-type{
    margin: 0 130px;
  }
  .services-block{
    img{
      margin-bottom: @md-space;
    }
  }
  .testimonials {
    padding: @lg-space;
    .slick-nav{
      top: 90%;
    }
    .slick-prev{
      left: @sm-space;
    }
    .slick-next {
      right: @sm-space;
    }
  }
  .half-box-parent .half-box{
    width: 50%;
  }
  .shop-content-type-with-sidebar{
    margin: 0 76px;
  }
  .shop-content-type-without-sidebar{
    margin: 0 75px;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .slicknav_menu {
    display:block;
    margin-bottom: @lg-space;
  }
  header{
    display: none;
  }
  .secondary-footer{
    .footer-menu{
      margin-bottom: @sm-space;
    }
    p{
      text-align: left;
    }
  }
  .services-block .row {
    & > [class*="col-"] {
      text-align: center;
      * {
        text-align: center;
      }
    }
  }
  .portfolio-content-type{
    margin: 0 2px;
    .portfolio-element{
      width: 100%;
    }
  }
  .services-block{
    img{
      margin-bottom: @md-space;
    }
  }
  .testimonials {
    padding: @sm-space;
    .slick-nav{
      top: 90%;
    }
    .slick-prev{
      left: @sm-space;
    }
    .slick-next {
      right: @sm-space;
    }
  }
  .half-box-parent .half-box{
    width: 100%;
    .align-right{
      float: left;
    }
  }
  .shop-content-type-with-sidebar{
    margin: 0 76px;
  }
  .shop-content-type-without-sidebar{
    margin: 0 75px;
  }
}

@media (max-width: 360px) {
  .shop-content-type-with-sidebar{
    margin: 0 24px;
  }
  .shop-content-type-without-sidebar{
    margin: 0 24px;
  }
}