@import "variables.less";

/* -----------------------------------------------------
2.10 - Comment list
----------------------------------------------------- */
.comment-list .row {
  margin-bottom: 0px;
}

.comment-list .panel {
  background: @gamma;
  margin-bottom: 32px;
}

.comment-list .panel .panel-heading {
  padding: 4px 15px;
  position: absolute;
  border: none;
  background: @white;
  border-radius: 0;
}

.comment-list .panel .panel-heading.right {
  top: 0px;
  right: 12px;
}

.comment-list .panel .panel-body {
  padding: @md-space;
  .text-left,.comment-post {
    margin-bottom: @sm-space;
  }
  .text-right{
    margin: 0;
  }
}

.comment-list .panel .panel-heading .panel-body {
  padding-top: 6px;
}

.comment-list figcaption {
  word-wrap: break-word;
}

.comment-list .thumbnail img {
  margin-bottom: 8px;
}

.comment-list .thumbnail, .comment-list .panel {
  border-radius: 0;
  border: none;
}

/* -----------------------------------------------------
2.11 - Comment list portrait tablets and medium desktops
----------------------------------------------------- */
@media (min-width: 768px) {
  .comment-list .arrow:after, .comment-list .arrow:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
  }

  .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
    border-left: 0;
  }

  /*****Left Arrow*****/
  /*Outline effect style*/
  .comment-list .panel.arrow.left:before {
    left: 0px;
    top: 30px;
    /*Use boarder color of panel*/
    border-right-color: transparent;
    border-width: 16px;
  }

  /*Background color effect*/
  .comment-list .panel.arrow.left:after {
    left: 1px;
    top: 31px;
    /*Change for different outline color*/
    border-right-color: @gamma;
    border-width: 15px;
  }

  /*****Right Arrow*****/
  /*Outline effect style*/
  .comment-list .panel.arrow.right:before {
    right: -16px;
    top: 30px;
    /*Use boarder color of panel*/
    border-left-color: inherit;
    border-width: 16px;
  }

  /*Background color effect*/
  .comment-list .panel.arrow.right:after {
    right: -14px;
    top: 31px;
    /*Change for different outline color*/
    border-left-color: #FFFFFF;
    border-width: 15px;
  }
}