@import "rs_toolkit.less";
/* -----------------------------------------------------
2.1 - Shadows
----------------------------------------------------- */
.white-text-shadow {
  text-shadow: 1px 1px @white;
}

.black-text-shadow {
  text-shadow: 1px 1px @black;
}

/* -----------------------------------------------------
2.2 - Transations
----------------------------------------------------- */
.all-transition {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}

/* -----------------------------------------------------
2.3 - Image hover
----------------------------------------------------- */
.int-image-hover-parent {
  position: relative;
  display: table;
}

.int-image-hover-parent img {
  display: block;
}

.int-image-hover-parent .int-image-hover {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  .all-transition;
  background: transparent;
  height: 100%;
  width: 100%;
}

.int-image-hover-parent:hover .int-image-hover {
  display: block;
  visibility: visible;
  opacity: 1;
  background: rgba(red(@alpha), green(@alpha), blue(@alpha), 0.5);
}

.int-image-hover-parent .int-image-hover {
  .i-parent {
    background: @white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: @xs-space * 6;
    opacity: 1;
  }
  a {
    font-size: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  i {
    color: @alpha;
    font-size: 24px;
    display: block;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
  }
}