@import "variables.less";
/* -----------------------------------------------------
2.4 - Headings
----------------------------------------------------- */
.decor-heading-parent {
  text-align: center;
}
.decor-heading {
  display: inline-block;
  position: relative;
  &:before {
    position: absolute;
    content: " ";
    .half-circle-left-side;
  }
  &:after{
    position: absolute;
    content: " ";
    .half-circle-right-side;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    display: inline-block;
    background: @alpha;
    color: @white;
    .black-text-shadow();
    padding: @md-space @md-space;
  }
}
/* -----------------------------------------------------
2.5 - Half circle
----------------------------------------------------- */
.half-circle-left-side {
  background-color: @alpha;
  left: -24px;
  top:50%;
  transform: translate(0, -50%);
  height: 50px;
  width: 24px;
  -moz-border-radius: 150px 0 0 150px;
  border-radius: 150px 0 0 150px;
}
.half-circle-right-side {
  background-color: @alpha;
  right: -25px;
  top:50%;
  transform: translate(0, -50%);
  height: 50px;
  width: 25px;
  -moz-border-radius: 0 150px 150px 0;
  border-radius: 0 150px 150px 0;
}
