/* =====================================================
2.6 - Rubidium Style Toolkit
===================================================== */
/* -----------------------------------------------------
Clearfix
----------------------------------------------------- */
.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

/* -----------------------------------------------------
Lists
----------------------------------------------------- */
/* Global ***/
ul {
  padding: 0;
  margin: 0;
  font-size: 0; // Li spacing problem hack
  li {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 14px;
  }
  li:last-child {
    margin-bottom: 0;
  }
}

/* Inline ***/
.ul-li-inline {
  & > li {
    display: inline-block;
  }
}

/* List ***/
.ul-li-list {
  & > li {
    display: block;
  }
}

/* Spacing ***/
.ul-li-vertical-spacing-xs {
  & > li {
    margin: 0 0 @xs-space 0;
  }
}

.ul-li-vertical-spacing-sm {
  & > li {
    margin: 0 0 @sm-space 0;
  }
}

.ul-li-vertical-spacing-md {
  & > li {
    margin: 0 0 @md-space 0;
  }
}

.ul-li-vertical-spacing-lg {
  & > li {
    margin: 0 0 @lg-space 0;
  }
}

/******/
.ul-li-horizontal-spacing-xs {
  & > li {
    margin: 0 @xs-space 0 0;
  }
}

.ul-li-horizontal-spacing-sm {
  & > li {
    margin: 0 @sm-space 0 0;
  }
}

.ul-li-horizontal-spacing-md {
  & > li {
    margin: 0 @md-space 0 0;
  }
}

.ul-li-horizontal-spacing-lg {
  & > li {
    margin: 0 @lg-space 0 0;
  }
}

/******/
.ul-li-both-spacing-xs {
  & > li {
    margin: 0 @xs-space @xs-space 0;
  }
}

.ul-li-both-spacing-sm {
  & > li {
    margin: 0 @sm-space @sm-space 0;
  }
}

.ul-li-both-spacing-md {
  & > li {
    margin: 0 @md-space @md-space 0;
  }
}

.ul-li-both-spacing-lg {
  & > li {
    margin: 0 @lg-space @lg-space 0;
  }
}

/******/
.ul-li-none-spacing {
  & > li {
    margin: 0;
  }
}

/* Padding ***/
.ul-li-vertical-padding-xs {
  & > li {
    padding: @xs-space 0;
  }
}

.ul-li-vertical-padding-sm {
  & > li {
    padding: @sm-space 0;
  }
}

.ul-li-vertical-padding-md {
  & > li {
    padding: @md-space 0;
  }
}

.ul-li-vertical-padding-lg {
  & > li {
    padding: @lg-space 0;
  }
}

/******/
.ul-li-horizontal-padding-xs {
  & > li {
    padding: 0 @xs-space 0 0;
  }
}

.ul-li-horizontal-padding-sm {
  & > li {
    padding: 0 @sm-space 0 0;
  }
}

.ul-li-horizontal-padding-md {
  & > li {
    padding: 0 @md-space 0 0;
  }
}

.ul-li-horizontal-padding-lg {
  & > li {
    padding: 0 @lg-space 0 0;
  }
}

/******/
.ul-li-both-padding-xs {
  & > li {
    padding: 0 @xs-space @xs-space 0;
  }
}

.ul-li-both-padding-sm {
  & > li {
    padding: 0 @sm-space @sm-space 0;
  }
}

.ul-li-both-padding-md {
  & > li {
    padding: 0 @md-space @md-space 0;
  }
}

.ul-li-both-padding-lg {
  & > li {
    padding: 0 @lg-space @lg-space 0;
  }
}

/******/
.ul-li-none-padding {
  & > li {
    padding: 0;
  }
}

/* -----------------------------------------------------
Margins and padding reset
----------------------------------------------------- */
.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

/* -----------------------------------------------------
Align box
----------------------------------------------------- */
.align-box {
  .clearfix();
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

.align-left, .align-right {
}
/* -----------------------------------------------------
Half box
----------------------------------------------------- */
.half-box{
  width: 50%;
}
/* -----------------------------------------------------
Width
----------------------------------------------------- */
.inherit-width {
  width: inherit;
}

.full-width {
  width: 100% !important;
}

.auto-width {
  width: auto;
}

/* -----------------------------------------------------
Heights
----------------------------------------------------- */
.height-inherit {
  height: inherit;
}

.height-full {
  height: 100%;
}

.height-auto {
  height: auto;
}

/* -----------------------------------------------------
Spacing
----------------------------------------------------- */
.xs-margin {
  margin-bottom: @xs-space;
}

.sm-margin {
  margin-bottom: @sm-space;
}

.md-margin {
  margin-bottom: @md-space;
}

.lg-margin {
  margin-bottom: @lg-space;
}

/* -----------------------------------------------------
Display
----------------------------------------------------- */
.display-inline-block {
  display: inline-block;
}

.display-block {
  display: block;
}
/* -----------------------------------------------------
Box push center
----------------------------------------------------- */
.box-push-parent {
  position: relative;
}

.box-push-both-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.box-push-vertical-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0%, -50%);
}

.box-push-horizontal-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
/* -----------------------------------------------------
Responsive image
----------------------------------------------------- */
.responsive-image {
  width: 100%;
  height: auto;
}
/* -----------------------------------------------------
Same side force
----------------------------------------------------- */
.same-side-force {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  background: @box-bg-beta;
  * {
    margin: 0;
    color: @white;
    padding: @xs-space;
    text-align: center;
  }
}
/* -----------------------------------------------------
Half box
----------------------------------------------------- */
.half-box-parent{
  .clearfix();
  .half-box{
    float: left;
    margin-bottom: @md-space;
  }
  .half-box:last-child{
    margin: 0;
  }
}
/* -----------------------------------------------------
Bs grid out
----------------------------------------------------- */
.bs-grid-out{
  margin-left: @sm-space*-1;
  margin-right: @sm-space*-1;
}
/* -----------------------------------------------------
Shadows
----------------------------------------------------- */
.shadow-reset{
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}