/* -----------------------------------------------------
2.7 - Size varibles
----------------------------------------------------- */
@primary-head-circle: 256px;
@footer-height: 330px;
@portfolio-element-width: 384px;
@portfolio-element-img-height: 260px;
/* -----------------------------------------------------
2.8 - Image sizes
----------------------------------------------------- */
.col-6-img {
  max-width: 564px;
}

.services-img {
  max-width: 139px;
}


.img-releated-gallery {
  max-width: 437px;
}

.portfolio-img {
  max-width: 384px;
  max-height: 260px;
}