@import "variables.less";
@import "rs_toolkit.less";
@import "effects.less";

/* -----------------------------------------------------
2.9 - Typography
----------------------------------------------------- */
/* all tag ***/
a, label, input, li, p, span, h1, h2, h3, h4, h5, h6, td, th, button, blockquote {
  font-family: 'Roboto Slab', serif;
  color: @beta;
}
/* a global ***/
a{
  .all-transition();
}
a:link, a:visited, a:active {
  text-decoration: none;
  cursor: pointer;
}
a:focus, a:hover{
  color: @typo-normal-alpha;
}
/* Text colors reverse ***/
.positive{
  color: @typo-normal-alpha;
}
a.positive:hover{
  color: @typo-hover-alpha;
}
.negative{
  color: @typo-normal-delta;
}
a.negative:hover{
  color: @typo-hover-beta;
}
.text-center{
 text-align: center;
}
/* Headings ***/
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Kaushan Script', cursive;
}

h1 {
  margin-bottom: 36px;
}

h2 {
  margin-bottom: 30px;
}

h3 {
  margin-bottom: 24px;
}

h4 {
  margin-bottom: 18px;
}

h5 {
  margin-bottom: 14px;
}

h6 {
  margin-bottom: 12px;
}
/* Headings ***/
.bold {
  font-weight: bold;
}
/* Font family changer ***/
.alpha-typo {
  font-family: 'Roboto Slab', serif;
}
.beta-typo {
  font-family: 'Kaushan Script', cursive;
}