/* -----------------------------------------------------
Colors
----------------------------------------------------- */
// Base
@white: #ffffff;
@black: #000000;
@alpha: #ED3D5B;
@beta: #391817;
@gamma: #E8E8E8;
@delta: #533534; // Gamma positive
// Typography
@typo-normal-alpha: @alpha;
@typo-normal-beta: @beta;
@typo-normal-gamma: @gamma;
@typo-normal-delta: @white;
// Typography hover
@typo-hover-alpha: @beta;
@typo-hover-beta: @alpha;
// Borders
@alpha-border: @gamma;
@beta-border: @alpha;
// Box backgrounds
@box-bg-alpha: @gamma;
@box-bg-beta: @alpha;
// Forms
@input-padding: 10px;
/* -----------------------------------------------------
Spacing
----------------------------------------------------- */
@xs-space: 6px;
@sm-space: @xs-space * 2; //12
@md-space: @xs-space * 4; //24
@lg-space: @xs-space * 8; //48