/* --------------------------------------------------------------------------
 * Rubidium Style : Trota Html Theme
 *
 * file           : theme.css
 * Desc           : Torta - Stylesheet
 * Version        : 1.0
 * Date           : 2015-09-17
 * Author         : Rubidium Style
 * Author URI     : http://rubidiumstyle.com
 * Email          : rubidium.style@gmail.com
 *
 * Rubidium Style. Copyright 2015. All Rights Reserved.
 * -------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------
 *  Torta Stylesheet - Table of Content

    1 - Head
    1.1 - Header
        1.2 - Primary head
        1.3 - Secondary head
        1.4 - Quaternary head
    ---------------------
    2 - Content
        2.1 - Shadows
        2.2 - Transations
        2.3 - Image hover
        2.4 - Headings
        2.5 - Half circle
        2.6 - Rubidium Style Toolkit
        2.7 - Size varibles
        2.8 - Image sizes
        2.9 - Typography
        2.10 - Comment list
        2.11 - Comment list portrait tablets and medium desktops
        2.12 - Bootstrap grid system override
        2.13 - Col no margin bootstrap grid system extend
        2.14 - Buttons
        2.15 - Well
        2.16 - Panel
        2.17 - Iframe
        2.18 - Form control
        2.19 - Form
        2.20 - Search box
        2.21 - Table
        2.22 - Placeholder colors
        2.23 - Bootstrap progress
        2.24 - Bootstrap select
        2.25 - Menu systems
        2.26 - Settings for banner containers (Revolution slider)
        2.27 - Revolution Slider Typography
        2.28 - Slick carousel
        2.29 - Slicknav
        2.30 - Slick slider
        2.31 - Slick navigation
        2.32 - ScrollReveal
        2.33 - Widgets
        2.34 - Entry
        2.35 - Chrome focus reset
        2.36 - Decor lines
        2.37 - Pagination
        2.38 - Team member
        2.40 - Shop progress
        2.41 - Standard social
        2.42 - Clients
        2.43 - Divider vertical
        2.44 - Nab tabs / Shop
        2.45 - Sk folding cube (Preloader)
        2.46 - Google maps
        2.47 - Back to top
        2.48 - Signature (In footer)
    ---------------------
    3 - Footer
        3.1 - Rs css sticky footer
        3.2 - Footer
    4 - Responsive
 * -------------------------------------------------------------------------- */
/* =====================================================
Rubidium Style Torta Less Structure
===================================================== */
/* -----------------------------------------------------
Colors
----------------------------------------------------- */
/* -----------------------------------------------------
Spacing
----------------------------------------------------- */
/* -----------------------------------------------------
2.1 - Shadows
----------------------------------------------------- */
.white-text-shadow {
  text-shadow: 1px 1px #ffffff;
}
.black-text-shadow {
  text-shadow: 1px 1px #000000;
}
/* -----------------------------------------------------
2.2 - Transations
----------------------------------------------------- */
.all-transition {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}
/* -----------------------------------------------------
2.3 - Image hover
----------------------------------------------------- */
.int-image-hover-parent {
  position: relative;
  display: table;
}
.int-image-hover-parent img {
  display: block;
}
.int-image-hover-parent .int-image-hover {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
  background: transparent;
  height: 100%;
  width: 100%;
}
.int-image-hover-parent:hover .int-image-hover {
  display: block;
  visibility: visible;
  opacity: 1;
  background: rgba(237, 61, 91, 0.5);
}
.int-image-hover-parent .int-image-hover .i-parent {
  background: #ffffff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 36px;
  opacity: 1;
}
.int-image-hover-parent .int-image-hover a {
  font-size: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.int-image-hover-parent .int-image-hover i {
  color: #ed3d5b;
  font-size: 24px;
  display: block;
  height: 24px;
  width: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
}
/* =====================================================
2.6 - Rubidium Style Toolkit
===================================================== */
/* -----------------------------------------------------
Clearfix
----------------------------------------------------- */
/* -----------------------------------------------------
Lists
----------------------------------------------------- */
/* Global ***/
ul {
  padding: 0;
  margin: 0;
  font-size: 0;
}
ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
}
ul li:last-child {
  margin-bottom: 0;
}
/* Inline ***/
.ul-li-inline > li {
  display: inline-block;
}
/* List ***/
.ul-li-list > li {
  display: block;
}
/* Spacing ***/
.ul-li-vertical-spacing-xs > li {
  margin: 0 0 6px 0;
}
.ul-li-vertical-spacing-sm > li {
  margin: 0 0 12px 0;
}
.ul-li-vertical-spacing-md > li {
  margin: 0 0 24px 0;
}
.ul-li-vertical-spacing-lg > li {
  margin: 0 0 48px 0;
}
/******/
.ul-li-horizontal-spacing-xs > li {
  margin: 0 6px 0 0;
}
.ul-li-horizontal-spacing-sm > li {
  margin: 0 12px 0 0;
}
.ul-li-horizontal-spacing-md > li {
  margin: 0 24px 0 0;
}
.ul-li-horizontal-spacing-lg > li {
  margin: 0 48px 0 0;
}
/******/
.ul-li-both-spacing-xs > li {
  margin: 0 6px 6px 0;
}
.ul-li-both-spacing-sm > li {
  margin: 0 12px 12px 0;
}
.ul-li-both-spacing-md > li {
  margin: 0 24px 24px 0;
}
.ul-li-both-spacing-lg > li {
  margin: 0 48px 48px 0;
}
/******/
.ul-li-none-spacing > li {
  margin: 0;
}
/* Padding ***/
.ul-li-vertical-padding-xs > li {
  padding: 6px 0;
}
.ul-li-vertical-padding-sm > li {
  padding: 12px 0;
}
.ul-li-vertical-padding-md > li {
  padding: 24px 0;
}
.ul-li-vertical-padding-lg > li {
  padding: 48px 0;
}
/******/
.ul-li-horizontal-padding-xs > li {
  padding: 0 6px 0 0;
}
.ul-li-horizontal-padding-sm > li {
  padding: 0 12px 0 0;
}
.ul-li-horizontal-padding-md > li {
  padding: 0 24px 0 0;
}
.ul-li-horizontal-padding-lg > li {
  padding: 0 48px 0 0;
}
/******/
.ul-li-both-padding-xs > li {
  padding: 0 6px 6px 0;
}
.ul-li-both-padding-sm > li {
  padding: 0 12px 12px 0;
}
.ul-li-both-padding-md > li {
  padding: 0 24px 24px 0;
}
.ul-li-both-padding-lg > li {
  padding: 0 48px 48px 0;
}
/******/
.ul-li-none-padding > li {
  padding: 0;
}
/* -----------------------------------------------------
Margins and padding reset
----------------------------------------------------- */
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
/* -----------------------------------------------------
Align box
----------------------------------------------------- */
.align-box:before,
.align-box:after {
  content: " ";
  display: table;
}
.align-box:after {
  clear: both;
}
.align-left {
  float: left;
}
.align-right {
  float: right;
}
/* -----------------------------------------------------
Half box
----------------------------------------------------- */
.half-box {
  width: 50%;
}
/* -----------------------------------------------------
Width
----------------------------------------------------- */
.inherit-width {
  width: inherit;
}
.full-width {
  width: 100% !important;
}
.auto-width {
  width: auto;
}
/* -----------------------------------------------------
Heights
----------------------------------------------------- */
.height-inherit {
  height: inherit;
}
.height-full {
  height: 100%;
}
.height-auto {
  height: auto;
}
/* -----------------------------------------------------
Spacing
----------------------------------------------------- */
.xs-margin {
  margin-bottom: 6px;
}
.sm-margin {
  margin-bottom: 12px;
}
.md-margin {
  margin-bottom: 24px;
}
.lg-margin {
  margin-bottom: 48px;
}
/* -----------------------------------------------------
Display
----------------------------------------------------- */
.display-inline-block {
  display: inline-block;
}
.display-block {
  display: block;
}
/* -----------------------------------------------------
Box push center
----------------------------------------------------- */
.box-push-parent {
  position: relative;
}
.box-push-both-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.box-push-vertical-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0%, -50%);
}
.box-push-horizontal-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
/* -----------------------------------------------------
Responsive image
----------------------------------------------------- */
.responsive-image {
  width: 100%;
  height: auto;
}
/* -----------------------------------------------------
Same side force
----------------------------------------------------- */
.same-side-force {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  background: #ed3d5b;
}
.same-side-force * {
  margin: 0;
  color: #ffffff;
  padding: 6px;
  text-align: center;
}
/* -----------------------------------------------------
Half box
----------------------------------------------------- */
.half-box-parent:before,
.half-box-parent:after {
  content: " ";
  display: table;
}
.half-box-parent:after {
  clear: both;
}
.half-box-parent .half-box {
  float: left;
  margin-bottom: 24px;
}
.half-box-parent .half-box:last-child {
  margin: 0;
}
/* -----------------------------------------------------
Bs grid out
----------------------------------------------------- */
.bs-grid-out {
  margin-left: -12px;
  margin-right: -12px;
}
/* -----------------------------------------------------
Shadows
----------------------------------------------------- */
.shadow-reset {
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* -----------------------------------------------------
2.7 - Size varibles
----------------------------------------------------- */
/* -----------------------------------------------------
2.8 - Image sizes
----------------------------------------------------- */
.col-6-img {
  max-width: 564px;
}
.services-img {
  max-width: 139px;
}
.img-releated-gallery {
  max-width: 437px;
}
.portfolio-img {
  max-width: 384px;
  max-height: 260px;
}
/* -----------------------------------------------------
1.1 - Header
----------------------------------------------------- */
header {
  margin-bottom: 48px;
  z-index: 1;
}
/* -----------------------------------------------------
1.2 - Primary head
----------------------------------------------------- */
.primary-head {
  height: 128px;
  background: #ffffff;
}
.primary-head > div,
.primary-head > div > div,
.primary-head > div > div > div {
  height: inherit;
}
.primary-head .site-description {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0%, -50%);
}
.primary-head .logo {
  position: relative;
}
.primary-head .logo img {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 30px;
}
.primary-head .mini-cart {
  margin-top: 48px;
  float: right;
}
.primary-head .mini-cart .mini-cart-dropdown {
  z-index: 1002;
  position: absolute;
  display: none;
  width: 286px;
  top: 100px;
  right: 0;
  padding: 24px;
  background: #ffffff;
}
.primary-head .mini-cart .mini-cart-dropdown .align-left button {
  width: 100%;
  display: block;
}
.primary-head .mini-cart .mini-cart-dropdown .align-left:first-child button {
  margin-right: 6px;
}
.primary-head .mini-cart .mini-cart-dropdown .align-left:last-child button {
  margin-left: 6px;
}
.primary-head .mini-cart .mini-cart-dropdown table {
  border: 0;
}
.primary-head .mini-cart .mini-cart-dropdown table td {
  border: 0;
}
.primary-head .mini-cart .mini-cart-counter {
  background: #ed3d5b;
  border-radius: 50%;
  padding: 6px;
  color: #ffffff;
  display: block;
  width: 31px;
  text-align: center;
}
.primary-head .primary-head-circle-parent {
  position: relative;
}
.primary-head .primary-head-circle-parent .primary-head-circle {
  background: #ed3d5b;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 256px;
  height: 128px;
  border-radius: 128px 128px 0 0;
  -moz-border-radius: 128px 128px 0 0;
  -webkit-border-radius: 128px 128px 0 0;
}
/* -----------------------------------------------------
1.3 - Secondary head
----------------------------------------------------- */
.secondary-head {
  background: #ed3d5b;
}
.secondary-head .left-main-menu ul li {
  margin-right: 24px;
}
.secondary-head .right-main-menu:before,
.secondary-head .right-main-menu:after {
  content: " ";
  display: table;
}
.secondary-head .right-main-menu:after {
  clear: both;
}
.secondary-head .right-main-menu ul {
  float: right;
}
.secondary-head .right-main-menu > ul > li {
  margin-left: 24px;
}
.secondary-head .left-main-menu,
.secondary-head .right-main-menu {
  padding: 12px 0;
}
.secondary-head .left-main-menu:before,
.secondary-head .right-main-menu:before,
.secondary-head .left-main-menu:after,
.secondary-head .right-main-menu:after {
  content: " ";
  display: table;
}
.secondary-head .left-main-menu:after,
.secondary-head .right-main-menu:after {
  clear: both;
}
.secondary-head .left-main-menu ul,
.secondary-head .right-main-menu ul {
  margin: 0;
}
.secondary-head .left-main-menu ul:before,
.secondary-head .right-main-menu ul:before,
.secondary-head .left-main-menu ul:after,
.secondary-head .right-main-menu ul:after {
  content: " ";
  display: table;
}
.secondary-head .left-main-menu ul:after,
.secondary-head .right-main-menu ul:after {
  clear: both;
}
.secondary-head .left-main-menu > ul > li,
.secondary-head .right-main-menu > ul > li {
  padding: 40px 0;
}
.secondary-head .left-main-menu li a,
.secondary-head .right-main-menu li a {
  display: block;
}
.secondary-head .left-main-menu li a:hover h1,
.secondary-head .right-main-menu li a:hover h1,
.secondary-head .left-main-menu li a:hover h2,
.secondary-head .right-main-menu li a:hover h2,
.secondary-head .left-main-menu li a:hover h3,
.secondary-head .right-main-menu li a:hover h3,
.secondary-head .left-main-menu li a:hover h4,
.secondary-head .right-main-menu li a:hover h4,
.secondary-head .left-main-menu li a:hover h5,
.secondary-head .right-main-menu li a:hover h5,
.secondary-head .left-main-menu li a:hover h6,
.secondary-head .right-main-menu li a:hover h6 {
  color: #391817;
}
.secondary-head .left-main-menu li h1,
.secondary-head .right-main-menu li h1,
.secondary-head .left-main-menu li h2,
.secondary-head .right-main-menu li h2,
.secondary-head .left-main-menu li h3,
.secondary-head .right-main-menu li h3,
.secondary-head .left-main-menu li h4,
.secondary-head .right-main-menu li h4,
.secondary-head .left-main-menu li h5,
.secondary-head .right-main-menu li h5,
.secondary-head .left-main-menu li h6,
.secondary-head .right-main-menu li h6 {
  margin: 0;
  color: #ffffff;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}
/* -----------------------------------------------------
1.4 - Quaternary head
----------------------------------------------------- */
.quaternary-head {
  display: none;
  position: fixed;
}
/* =====================================================
Content imports
===================================================== */
/* =====================================================
Global imports
===================================================== */
/* -----------------------------------------------------
2.4 - Headings
----------------------------------------------------- */
.decor-heading-parent {
  text-align: center;
}
.decor-heading {
  display: inline-block;
  position: relative;
}
.decor-heading:before {
  position: absolute;
  content: " ";
  background-color: #ed3d5b;
  left: -24px;
  top: 50%;
  transform: translate(0, -50%);
  height: 50px;
  width: 24px;
  -moz-border-radius: 150px 0 0 150px;
  border-radius: 150px 0 0 150px;
}
.decor-heading:after {
  position: absolute;
  content: " ";
  background-color: #ed3d5b;
  right: -25px;
  top: 50%;
  transform: translate(0, -50%);
  height: 50px;
  width: 25px;
  -moz-border-radius: 0 150px 150px 0;
  border-radius: 0 150px 150px 0;
}
.decor-heading h1,
.decor-heading h2,
.decor-heading h3,
.decor-heading h4,
.decor-heading h5,
.decor-heading h6 {
  margin: 0;
  display: inline-block;
  background: #ed3d5b;
  color: #ffffff;
  text-shadow: 1px 1px #000000;
  padding: 24px 24px;
}
/* -----------------------------------------------------
2.5 - Half circle
----------------------------------------------------- */
.half-circle-left-side {
  background-color: #ed3d5b;
  left: -24px;
  top: 50%;
  transform: translate(0, -50%);
  height: 50px;
  width: 24px;
  -moz-border-radius: 150px 0 0 150px;
  border-radius: 150px 0 0 150px;
}
.half-circle-right-side {
  background-color: #ed3d5b;
  right: -25px;
  top: 50%;
  transform: translate(0, -50%);
  height: 50px;
  width: 25px;
  -moz-border-radius: 0 150px 150px 0;
  border-radius: 0 150px 150px 0;
}
/* -----------------------------------------------------
2.9 - Typography
----------------------------------------------------- */
/* all tag ***/
a,
label,
input,
li,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
td,
th,
button,
blockquote {
  font-family: 'Roboto Slab', serif;
  color: #391817;
}
/* a global ***/
a {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
  cursor: pointer;
}
a:focus,
a:hover {
  color: #ed3d5b;
}
/* Text colors reverse ***/
.positive {
  color: #ed3d5b;
}
a.positive:hover {
  color: #391817;
}
.negative {
  color: #ffffff;
}
a.negative:hover {
  color: #ed3d5b;
}
.text-center {
  text-align: center;
}
/* Headings ***/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Kaushan Script', cursive;
}
h1 {
  margin-bottom: 36px;
}
h2 {
  margin-bottom: 30px;
}
h3 {
  margin-bottom: 24px;
}
h4 {
  margin-bottom: 18px;
}
h5 {
  margin-bottom: 14px;
}
h6 {
  margin-bottom: 12px;
}
/* Headings ***/
.bold {
  font-weight: bold;
}
/* Font family changer ***/
.alpha-typo {
  font-family: 'Roboto Slab', serif;
}
.beta-typo {
  font-family: 'Kaushan Script', cursive;
}
/* -----------------------------------------------------
2.10 - Comment list
----------------------------------------------------- */
.comment-list .row {
  margin-bottom: 0px;
}
.comment-list .panel {
  background: #e8e8e8;
  margin-bottom: 32px;
}
.comment-list .panel .panel-heading {
  padding: 4px 15px;
  position: absolute;
  border: none;
  background: #ffffff;
  border-radius: 0;
}
.comment-list .panel .panel-heading.right {
  top: 0px;
  right: 12px;
}
.comment-list .panel .panel-body {
  padding: 24px;
}
.comment-list .panel .panel-body .text-left,
.comment-list .panel .panel-body .comment-post {
  margin-bottom: 12px;
}
.comment-list .panel .panel-body .text-right {
  margin: 0;
}
.comment-list .panel .panel-heading .panel-body {
  padding-top: 6px;
}
.comment-list figcaption {
  word-wrap: break-word;
}
.comment-list .thumbnail img {
  margin-bottom: 8px;
}
.comment-list .thumbnail,
.comment-list .panel {
  border-radius: 0;
  border: none;
}
/* -----------------------------------------------------
2.11 - Comment list portrait tablets and medium desktops
----------------------------------------------------- */
@media (min-width: 768px) {
  .comment-list .arrow:after,
  .comment-list .arrow:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
  }
  .comment-list .panel.arrow.left:after,
  .comment-list .panel.arrow.left:before {
    border-left: 0;
  }
  /*****Left Arrow*****/
  /*Outline effect style*/
  .comment-list .panel.arrow.left:before {
    left: 0px;
    top: 30px;
    /*Use boarder color of panel*/
    border-right-color: transparent;
    border-width: 16px;
  }
  /*Background color effect*/
  .comment-list .panel.arrow.left:after {
    left: 1px;
    top: 31px;
    /*Change for different outline color*/
    border-right-color: #e8e8e8;
    border-width: 15px;
  }
  /*****Right Arrow*****/
  /*Outline effect style*/
  .comment-list .panel.arrow.right:before {
    right: -16px;
    top: 30px;
    /*Use boarder color of panel*/
    border-left-color: inherit;
    border-width: 16px;
  }
  /*Background color effect*/
  .comment-list .panel.arrow.right:after {
    right: -14px;
    top: 31px;
    /*Change for different outline color*/
    border-left-color: #FFFFFF;
    border-width: 15px;
  }
}
body {
  background: url(null) fixed;
}
/* =====================================================
Elements imports
===================================================== */
/* =====================================================
Bootstrap overrides and html tags
===================================================== */
/* -----------------------------------------------------
2.12 - Bootstrap grid system override
----------------------------------------------------- */
.container {
  padding-right: 12px;
  padding-left: 12px;
}
.row {
  margin-right: -12px;
  margin-left: -12px;
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding-right: 12px;
  padding-left: 12px;
  position: relative;
}
/* -----------------------------------------------------
2.13 - Col no margin bootstrap grid system extend
----------------------------------------------------- */
.row {
  position: relative;
}
.row > [class*="col-"] {
  margin-bottom: 48px;
}
.row-no-margin {
  margin-right: 0;
  margin-left: 0;
}
.row-col-no-margin > [class*="col-"] {
  margin-bottom: 0;
  position: relative;
}
.row-col-half-margin > [class*="col-"] {
  margin-bottom: 24px;
}
.row-col-no-padding {
  margin-left: 0;
  margin-right: 0;
}
.row-col-no-padding > [class*="col-"] {
  padding: 0;
}
/* -----------------------------------------------------
2.14 - Buttons
----------------------------------------------------- */
.btn-default,
.btn-primary {
  border-radius: 0;
}
.btn {
  border: 1px solid #391817;
}
.btn-default {
  background: none;
  background-color: #ffffff;
}
.btn-primary,
.btn-primary:active,
.btn-primary:link,
.btn-primary:visited {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
  background: #391817;
  color: #ffffff;
  border: 0;
  border-radius: 0;
}
.btn-primary:hover {
  background: #ed3d5b;
  color: #ffffff;
}
/* -----------------------------------------------------
2.15 - Well
----------------------------------------------------- */
.well {
  background: #ffffff;
}
/* -----------------------------------------------------
2.16 - Panel
----------------------------------------------------- */
.panel-group .panel-default {
  border-radius: 0;
  background: #ffffff;
  border: none;
}
.panel-group .panel-default .panel-heading {
  background: #ed3d5b;
  border-radius: 0;
  border: none;
}
.panel-group .panel-default .panel-heading a {
  color: #ffffff;
}
.panel-group .panel-default .panel-body {
  border-top: none !important;
}
.panel-group .panel-default .panel-body p {
  margin: 0;
}
/* -----------------------------------------------------
2.17 - Iframe
----------------------------------------------------- */
iframe {
  border: none;
}
/* -----------------------------------------------------
2.18 - Form control
----------------------------------------------------- */
.form-control {
  padding: 10px;
  height: auto;
  color: #391817;
  border: 1px dashed #391817;
  border-radius: 0;
  box-shadow: none;
}
.form-control-bg {
  background: #ffffff;
}
/* -----------------------------------------------------
2.19 - Form
----------------------------------------------------- */
label {
  display: block;
}
.input-group p {
  margin-bottom: 0;
}
.input-group .input-group-addon {
  border: 0;
  background: none;
  padding: 0;
  display: inline-block;
}
.form-group {
  margin-bottom: 0;
}
/* -----------------------------------------------------
2.20 - Search box
----------------------------------------------------- */
.search-box {
  border: 1px solid #391817;
}
.search-box * {
  border: 0;
}
.input-group.search-box .btn-default:focus,
.input-group.search-box .btn-default:hover {
  background: transparent;
}
.input-group.search-box .btn-default {
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* -----------------------------------------------------
2.21 - Table
----------------------------------------------------- */
.table > thead > tr > th {
  border-bottom: 0;
  text-align: center;
}
.table > tbody > tr > td {
  border: 0;
  border-bottom: 1px solid #e8e8e8;
}
.cart-table td {
  text-align: center;
}
.cart-table td input {
  padding: 6px;
}
/* -----------------------------------------------------
2.22 - Placeholder colors
----------------------------------------------------- */
::-webkit-input-placeholder {
  color: #391817 !important;
}
:-moz-placeholder {
  color: #391817 !important;
}
::-moz-placeholder {
  color: #391817 !important;
}
:-ms-input-placeholder {
  color: #391817 !important;
}
/* -----------------------------------------------------
2.23 - Bootstrap progress
----------------------------------------------------- */
.progress {
  background: #e8e8e8;
  box-shadow: none;
  border-radius: 0;
}
.progress-bar-rs {
  background: #ed3d5b;
  box-shadow: none;
}
/* -----------------------------------------------------
2.24 - Bootstrap select
----------------------------------------------------- */
.bootstrap-select .btn,
.bootstrap-select .btn:active,
.bootstrap-select .btn:focus {
  outline: 0 !important;
}
.bootstrap-select .dropdown-menu {
  border-radius: 0;
}
.bootstrap-select .btn-default {
  background: #ffffff !important;
  box-shadow: none;
  border: 1px dashed #391817;
  padding: 10px 24px 10px 10px;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background: #ed3d5b !important;
}
.dropdown-menu > li > a:focus span,
.dropdown-menu > li > a:hover span {
  color: white !important;
}
.bootstrap-select .btn-default:hover,
.bootstrap-select .btn-default:active,
.bootstrap-select .btn-default:visited {
  background: #ffffff !important;
}
.bootstrap-select .dropdown-menu a {
  padding-top: 5px;
  padding-bottom: 5px;
}
.bootstrap-select > .selectpicker {
  -webkit-appearance: none;
  /* ios */
  -webkit-box-shadow: none;
  box-shadow: none !important;
  height: 40px;
  border-radius: 0;
  border: 1px solid #391817;
  background-color: #ffffff !important;
  color: #808080 !important;
}
.bootstrap-select > .selectpicker:focus {
  border-color: #391817;
}
.bootstrap-select-searchbox .form-control {
  border-radius: 0;
}
/* =====================================================
2.25 - Menu systems
===================================================== */
/* -----------------------------------------------------
Global and First level
----------------------------------------------------- */
.main-menu-container a {
  color: #ffffff;
  display: block;
  white-space: nowrap;
}
.main-menu-container ul {
  z-index: 1000;
  list-style: none;
  position: relative;
  display: block;
  margin-bottom: 0;
}
.main-menu-container ul li {
  z-index: 1000;
  float: left;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
  position: relative;
}
.main-menu-container > ul {
  height: inherit;
}
.main-menu-container > ul > li {
  height: inherit;
}
.main-menu-container > ul > li a {
  font-weight: bold;
}
/* -----------------------------------------------------
Second level
----------------------------------------------------- */
.main-menu-container ul ul {
  visibility: hidden;
  opacity: 0;
  background: #ed3d5b;
  padding: 0;
  position: absolute;
  top: 100%;
}
.main-menu-container ul ul a {
  padding: 6px;
}
.main-menu-container ul ul a,
.main-menu-container ul ul li {
  width: 100%;
}
.main-menu-container ul li:hover > ul {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
  opacity: 1;
  visibility: visible;
}
.main-menu-container ul ul li {
  margin: 0;
  float: none;
  position: relative;
  padding: 12px;
}
.main-menu-container ul ul li:last-child {
  border-bottom: none;
}
.main-menu-container ul ul li:hover {
  background: #391817;
}
/* -----------------------------------------------------
Third level
----------------------------------------------------- */
.main-menu-container ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}
/* -----------------------------------------------------
2.26 - Settings for banner containers
----------------------------------------------------- */
.boxedcontainer {
  max-width: 1170px;
  margin: auto;
  padding: 0px 30px;
}
.tp-banner-container {
  width: 100%;
  position: relative;
  padding: 0;
  z-index: -1;
}
.tp-banner {
  width: 100%;
  position: relative;
}
.tp-banner-fullscreen-container {
  width: 100%;
  position: relative;
  padding: 0;
}
/* -----------------------------------------------------
2.27 - Revolution Slider Typography
----------------------------------------------------- */
.tp-big-font-normal {
  font-size: 48px;
}
.tp-big-font-bold {
  font-size: 48px;
  font-weight: bold;
}
.tp-white-text,
.tp-white-text div {
  color: #ffffff !important;
}
/* -----------------------------------------------------
2.28 - Slick carousel ???
----------------------------------------------------- */
.slick-carousel .slick-slide {
  margin-left: 15px;
  margin-right: 15px;
}
/* -----------------------------------------------------
2.29 - Slicknav
----------------------------------------------------- */
.slicknav_menu {
  background: #ed3d5b;
}
.slicknav_menu ul li:hover a {
  background: #391817;
  color: #ffffff;
}
a.slicknav_btn {
  background: #391817;
}
/* -----------------------------------------------------
2.30 - Slick slider
----------------------------------------------------- */
.slick-slider {
  margin: 0;
}
/* -----------------------------------------------------
2.31 - Slick navigation
----------------------------------------------------- */
.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}
.slick-nav {
  height: 38px;
  width: 38px;
  margin-top: -19px;
  border: 0;
  font-size: 18px;
  color: #ed3d5b;
  top: 50%;
  z-index: 100;
}
.slick-nav,
.slick-nav:focus {
  background: #ed3d5b;
  color: #ffffff;
}
.slick-nav:before {
  content: '';
  display: none;
}
.slick-nav:hover,
.slick-nav:active,
.slick-nav:visited {
  background: #391817;
  color: white;
}
/* -----------------------------------------------------
2.32 - ScrollReveal
----------------------------------------------------- */
[data-sr] {
  visibility: hidden;
}
/* =====================================================
2.33 - Widgets
===================================================== */
/* -----------------------------------------------------
All widget
----------------------------------------------------- */
.widget {
  margin-bottom: 24px;
}
/* -----------------------------------------------------
Widget list design
----------------------------------------------------- */
.widget-list-design {
  position: relative;
}
.widget-list-design li {
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 6px;
}
.widget-list-design a {
  margin-left: 16px;
}
.widget-list-design a:before {
  content: "\f105";
  font-family: FontAwesome;
  text-align: center;
  position: absolute;
  left: 0px;
  display: block;
  height: 20px;
  width: 20px;
  margin-top: -1px;
}
/* -----------------------------------------------------
Price filter
----------------------------------------------------- */
.price-filter-widget .filter-set {
  margin-top: 12px;
}
.price-filter-widget .filter-set:before,
.price-filter-widget .filter-set:after {
  content: " ";
  display: table;
}
.price-filter-widget .filter-set:after {
  clear: both;
}
.price-filter-widget .filter-set .left,
.price-filter-widget .filter-set .right {
  float: left;
}
.price-filter-widget .filter-set .left {
  width: 30%;
}
.price-filter-widget .filter-set .right {
  width: 70%;
}
.price-filter-widget .filter-set .right input {
  border: 0;
}
.price-filter-widget .filter-set .price-filter-value {
  border: 0;
}
/* -----------------------------------------------------
Price filter
----------------------------------------------------- */
.noUi-base {
  background: #391817;
}
.noUi-base .noUi-handle {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  top: 0;
  border: 3px solid #ed3d5b;
}
.noUi-base .noUi-handle:before {
  display: none;
}
.noUi-base .noUi-handle:after {
  display: none;
}
.noUi-base .noUi-origin {
  border-radius: 0;
  background: #ed3d5b;
}
.noUi-base .noUi-origin .noUi-handle-lower {
  left: 0;
}
.noUi-base .noUi-origin:last-child {
  background: #391817;
}
/* -----------------------------------------------------
Latest products
----------------------------------------------------- */
.latest-products-widget .products {
  margin: 0;
}
.latest-products-widget .products li {
  margin-bottom: 24px;
  padding: 0;
}
.latest-products-widget .products .split-box:before,
.latest-products-widget .products .split-box:after {
  content: " ";
  display: table;
}
.latest-products-widget .products .split-box:after {
  clear: both;
}
.latest-products-widget .products .left {
  margin-right: 12px;
}
.latest-products-widget .products .left,
.latest-products-widget .products .right {
  float: left;
}
.latest-products-widget .products img {
  width: 64px;
  height: auto;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}
.latest-products-widget .products img:hover {
  border: 2px solid #ed3d5b;
}
.latest-products-widget .products p {
  margin-bottom: 6px;
}
/* -----------------------------------------------------
Tagcloud
----------------------------------------------------- */
.tag-cloud-widget:before,
.tag-cloud-widget:after {
  content: " ";
  display: table;
}
.tag-cloud-widget:after {
  clear: both;
}
.tag-cloud-widget a {
  background: #391817;
  color: #ffffff;
  padding: 12px;
  float: left;
  margin: 0 12px 12px 0;
}
.tag-cloud-widget a:hover {
  color: #ed3d5b;
}
/* -----------------------------------------------------
Recent posts
----------------------------------------------------- */
.recent-posts-widget .recent-posts {
  position: relative;
}
.recent-posts-widget .recent-posts li {
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 6px;
}
.recent-posts-widget .recent-posts a {
  margin-left: 16px;
}
.recent-posts-widget .recent-posts a:before {
  content: "\f105";
  font-family: FontAwesome;
  text-align: center;
  position: absolute;
  left: 0px;
  display: block;
  height: 20px;
  width: 20px;
  margin-top: -1px;
}
/* -----------------------------------------------------
Categories
----------------------------------------------------- */
.categories-widget .categories {
  position: relative;
}
.categories-widget .categories li {
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 6px;
}
.categories-widget .categories a {
  margin-left: 16px;
}
.categories-widget .categories a:before {
  content: "\f105";
  font-family: FontAwesome;
  text-align: center;
  position: absolute;
  left: 0px;
  display: block;
  height: 20px;
  width: 20px;
  margin-top: -1px;
}
/* -----------------------------------------------------
Archive
----------------------------------------------------- */
.archive-widget .archive {
  position: relative;
}
.archive-widget .archive li {
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 6px;
}
.archive-widget .archive a {
  margin-left: 16px;
}
.archive-widget .archive a:before {
  content: "\f105";
  font-family: FontAwesome;
  text-align: center;
  position: absolute;
  left: 0px;
  display: block;
  height: 20px;
  width: 20px;
  margin-top: -1px;
}
/* -----------------------------------------------------
Comment list
----------------------------------------------------- */
.comments-list-widget .comments-list > li {
  margin: 0 0 6px 0;
}
.comments-list-widget .comments-list a {
  color: #391817;
  font-weight: bold;
}
.comments-list-widget .comments-list a:hover,
.comments-list-widget .comments-list a:active {
  color: #ed3d5b;
}
/* =====================================================
2.34 - Entry
===================================================== */
/* -----------------------------------------------------
Entry design
----------------------------------------------------- */
.entry:before,
.entry:after {
  content: " ";
  display: table;
}
.entry:after {
  clear: both;
}
.entry-video {
  margin-bottom: 24px;
}
.entry-design {
  background: #e8e8e8;
  margin-bottom: 48px;
  /* Entry title center ***/
  /* Entry title default ***/
  /* Entry details ***/
  /* Entry shop details ***/
  /* Entry excerpt ***/
  /* Entry tags ***/
  /* Entry item rating ***/
  /* Entry portfolio tags ***/
  /* Entry single portfolio ***/
  /* Entry read more ***/
}
.entry-design .entry-title,
.entry-design .entry-excerpt,
.entry-design .entry-read-more,
.entry-design .entry-single-portfolio {
  margin: 0 24px 24px 24px;
}
.entry-design .entry-title-center {
  padding: 12px;
  background: #ed3d5b;
  color: #ffffff;
}
.entry-design .entry-title-center h1,
.entry-design .entry-title-center h2,
.entry-design .entry-title-center h3,
.entry-design .entry-title-center h4,
.entry-design .entry-title-center h5,
.entry-design .entry-title-center h6 {
  margin: 0;
  text-align: center;
  color: #ffffff;
}
.entry-design .entry-title h1,
.entry-design .entry-title h2,
.entry-design .entry-title h3,
.entry-design .entry-title h4,
.entry-design .entry-title h5,
.entry-design .entry-title h6 {
  margin: 0;
}
.entry-design .entry-details {
  margin-bottom: 24px;
  padding: 12px;
  background: #ed3d5b;
}
.entry-design .entry-details span,
.entry-design .entry-details i {
  color: #ffffff;
}
.entry-design .entry-details > span {
  margin-right: 6px;
}
.entry-design .entry-shop-details {
  background: #ffffff;
}
.entry-design .entry-shop-details:before,
.entry-design .entry-shop-details:after {
  content: " ";
  display: table;
}
.entry-design .entry-shop-details:after {
  clear: both;
}
.entry-design .entry-shop-details .left,
.entry-design .entry-shop-details .right {
  width: 50%;
  float: left;
  text-align: center;
}
.entry-design .entry-shop-details .left a {
  background: #ffffff;
  display: block;
  padding: 12px;
}
.entry-design .entry-shop-details .left a:hover {
  background: #391817;
  color: #ffffff;
}
.entry-design .entry-shop-details .right p {
  margin: 0;
  padding: 12px;
}
.entry-design .entry-excerpt p {
  line-height: 32px;
  margin: 0;
}
.entry-design .entry-tags {
  padding: 12px;
  background: #391817;
}
.entry-design .entry-tags ul {
  margin: 0;
  text-align: center;
}
.entry-design .entry-tags ul li {
  padding: 0;
}
.entry-design .entry-item-rating {
  position: relative;
}
.entry-design .entry-item-rating:before,
.entry-design .entry-item-rating:after {
  content: " ";
  display: table;
}
.entry-design .entry-item-rating:after {
  clear: both;
}
.entry-design .entry-item-rating .raty-plugin {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  top: -24px;
}
.entry-design .entry-portfolio-tags {
  padding: 12px;
  background: #391817;
}
.entry-design .entry-portfolio-tags ul {
  text-align: center;
}
.entry-design .entry-portfolio-tags ul > li {
  display: inline-block;
}
.entry-design .entry-portfolio-tags ul > li {
  margin: 0 6px 0 0;
}
.entry-design .entry-portfolio-tags ul li,
.entry-design .entry-portfolio-tags ul li span {
  color: #ffffff;
}
.entry-design .entry-single-portfolio:before,
.entry-design .entry-single-portfolio:after {
  content: " ";
  display: table;
}
.entry-design .entry-single-portfolio:after {
  clear: both;
}
.entry-design .entry-more-details {
  text-align: center;
}
.entry-design .entry-more-details a {
  display: block;
  background: #391817;
  color: #ffffff;
  padding: 12px;
  border: 1px solid #391817;
}
.entry-design .entry-more-details a:hover {
  background: #ffffff;
  color: #391817;
}
/* -----------------------------------------------------
Special contents
----------------------------------------------------- */
.entry-video-full-width {
  height: 450px;
  margin-bottom: 0;
}
/* Entry video ***/
.entry-video iframe {
  width: 100%;
  height: 450px;
}
/* -----------------------------------------------------
List blog template
----------------------------------------------------- */
.list-blog-element {
  background: #e8e8e8;
  margin-bottom: 48px;
  /* Entry title center ***/
  /* Entry title default ***/
  /* Entry details ***/
  /* Entry shop details ***/
  /* Entry excerpt ***/
  /* Entry tags ***/
  /* Entry item rating ***/
  /* Entry portfolio tags ***/
  /* Entry single portfolio ***/
  /* Entry read more ***/
}
.list-blog-element .entry-title,
.list-blog-element .entry-excerpt,
.list-blog-element .entry-read-more,
.list-blog-element .entry-single-portfolio {
  margin: 0 24px 24px 24px;
}
.list-blog-element .entry-title-center {
  padding: 12px;
  background: #ed3d5b;
  color: #ffffff;
}
.list-blog-element .entry-title-center h1,
.list-blog-element .entry-title-center h2,
.list-blog-element .entry-title-center h3,
.list-blog-element .entry-title-center h4,
.list-blog-element .entry-title-center h5,
.list-blog-element .entry-title-center h6 {
  margin: 0;
  text-align: center;
  color: #ffffff;
}
.list-blog-element .entry-title h1,
.list-blog-element .entry-title h2,
.list-blog-element .entry-title h3,
.list-blog-element .entry-title h4,
.list-blog-element .entry-title h5,
.list-blog-element .entry-title h6 {
  margin: 0;
}
.list-blog-element .entry-details {
  margin-bottom: 24px;
  padding: 12px;
  background: #ed3d5b;
}
.list-blog-element .entry-details span,
.list-blog-element .entry-details i {
  color: #ffffff;
}
.list-blog-element .entry-details > span {
  margin-right: 6px;
}
.list-blog-element .entry-shop-details {
  background: #ffffff;
}
.list-blog-element .entry-shop-details:before,
.list-blog-element .entry-shop-details:after {
  content: " ";
  display: table;
}
.list-blog-element .entry-shop-details:after {
  clear: both;
}
.list-blog-element .entry-shop-details .left,
.list-blog-element .entry-shop-details .right {
  width: 50%;
  float: left;
  text-align: center;
}
.list-blog-element .entry-shop-details .left a {
  background: #ffffff;
  display: block;
  padding: 12px;
}
.list-blog-element .entry-shop-details .left a:hover {
  background: #391817;
  color: #ffffff;
}
.list-blog-element .entry-shop-details .right p {
  margin: 0;
  padding: 12px;
}
.list-blog-element .entry-excerpt p {
  line-height: 32px;
  margin: 0;
}
.list-blog-element .entry-tags {
  padding: 12px;
  background: #391817;
}
.list-blog-element .entry-tags ul {
  margin: 0;
  text-align: center;
}
.list-blog-element .entry-tags ul li {
  padding: 0;
}
.list-blog-element .entry-item-rating {
  position: relative;
}
.list-blog-element .entry-item-rating:before,
.list-blog-element .entry-item-rating:after {
  content: " ";
  display: table;
}
.list-blog-element .entry-item-rating:after {
  clear: both;
}
.list-blog-element .entry-item-rating .raty-plugin {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  top: -24px;
}
.list-blog-element .entry-portfolio-tags {
  padding: 12px;
  background: #391817;
}
.list-blog-element .entry-portfolio-tags ul {
  text-align: center;
}
.list-blog-element .entry-portfolio-tags ul > li {
  display: inline-block;
}
.list-blog-element .entry-portfolio-tags ul > li {
  margin: 0 6px 0 0;
}
.list-blog-element .entry-portfolio-tags ul li,
.list-blog-element .entry-portfolio-tags ul li span {
  color: #ffffff;
}
.list-blog-element .entry-single-portfolio:before,
.list-blog-element .entry-single-portfolio:after {
  content: " ";
  display: table;
}
.list-blog-element .entry-single-portfolio:after {
  clear: both;
}
.list-blog-element .entry-more-details {
  text-align: center;
}
.list-blog-element .entry-more-details a {
  display: block;
  background: #391817;
  color: #ffffff;
  padding: 12px;
  border: 1px solid #391817;
}
.list-blog-element .entry-more-details a:hover {
  background: #ffffff;
  color: #391817;
}
/* -----------------------------------------------------
Post format
----------------------------------------------------- */
[class*="-content-type"] .quote-post-format blockquote {
  font-size: 14px;
  background: #f9f9f9;
  border-left: 2px solid #ed3d5b;
  margin: 0;
  padding-left: 12px;
  line-height: 24px;
  quotes: "\201C" "\201D" "\2018" "\2019";
  font-style: italic;
}
[class*="-content-type"] .quote-post-format blockquote p {
  display: inline;
}
[class*="-content-type"] .video-post-format .entry-video {
  margin: 0;
}
/* -----------------------------------------------------
Video entry sizes
----------------------------------------------------- */
.list-blog-content-type .list-blog-element .entry-video iframe,
.list-blog-content-type .list-blog-element .entry-video {
  height: 455px;
}
/* -----------------------------------------------------
Portfolio
----------------------------------------------------- */
.isotope-filters {
  text-align: center;
}
.isotope-filters:before,
.isotope-filters:after {
  content: " ";
  display: table;
}
.isotope-filters:after {
  clear: both;
}
.isotope-filters button {
  display: block;
  padding: 12px;
}
.isotope-filters ul > li {
  display: inline-block;
}
.isotope-filters ul > li {
  margin: 0 6px 6px 0;
}
.portfolio-content-type .portfolio-element {
  height: auto;
  width: 384px;
  position: relative;
  float: left;
  background: #e8e8e8;
  margin-bottom: 48px;
  /* Entry title center ***/
  /* Entry title default ***/
  /* Entry details ***/
  /* Entry shop details ***/
  /* Entry excerpt ***/
  /* Entry tags ***/
  /* Entry item rating ***/
  /* Entry portfolio tags ***/
  /* Entry single portfolio ***/
  /* Entry read more ***/
  /* Design specific ***/
}
.portfolio-content-type .portfolio-element .entry-title,
.portfolio-content-type .portfolio-element .entry-excerpt,
.portfolio-content-type .portfolio-element .entry-read-more,
.portfolio-content-type .portfolio-element .entry-single-portfolio {
  margin: 0 24px 24px 24px;
}
.portfolio-content-type .portfolio-element .entry-title-center {
  padding: 12px;
  background: #ed3d5b;
  color: #ffffff;
}
.portfolio-content-type .portfolio-element .entry-title-center h1,
.portfolio-content-type .portfolio-element .entry-title-center h2,
.portfolio-content-type .portfolio-element .entry-title-center h3,
.portfolio-content-type .portfolio-element .entry-title-center h4,
.portfolio-content-type .portfolio-element .entry-title-center h5,
.portfolio-content-type .portfolio-element .entry-title-center h6 {
  margin: 0;
  text-align: center;
  color: #ffffff;
}
.portfolio-content-type .portfolio-element .entry-title h1,
.portfolio-content-type .portfolio-element .entry-title h2,
.portfolio-content-type .portfolio-element .entry-title h3,
.portfolio-content-type .portfolio-element .entry-title h4,
.portfolio-content-type .portfolio-element .entry-title h5,
.portfolio-content-type .portfolio-element .entry-title h6 {
  margin: 0;
}
.portfolio-content-type .portfolio-element .entry-details {
  margin-bottom: 24px;
  padding: 12px;
  background: #ed3d5b;
}
.portfolio-content-type .portfolio-element .entry-details span,
.portfolio-content-type .portfolio-element .entry-details i {
  color: #ffffff;
}
.portfolio-content-type .portfolio-element .entry-details > span {
  margin-right: 6px;
}
.portfolio-content-type .portfolio-element .entry-shop-details {
  background: #ffffff;
}
.portfolio-content-type .portfolio-element .entry-shop-details:before,
.portfolio-content-type .portfolio-element .entry-shop-details:after {
  content: " ";
  display: table;
}
.portfolio-content-type .portfolio-element .entry-shop-details:after {
  clear: both;
}
.portfolio-content-type .portfolio-element .entry-shop-details .left,
.portfolio-content-type .portfolio-element .entry-shop-details .right {
  width: 50%;
  float: left;
  text-align: center;
}
.portfolio-content-type .portfolio-element .entry-shop-details .left a {
  background: #ffffff;
  display: block;
  padding: 12px;
}
.portfolio-content-type .portfolio-element .entry-shop-details .left a:hover {
  background: #391817;
  color: #ffffff;
}
.portfolio-content-type .portfolio-element .entry-shop-details .right p {
  margin: 0;
  padding: 12px;
}
.portfolio-content-type .portfolio-element .entry-excerpt p {
  line-height: 32px;
  margin: 0;
}
.portfolio-content-type .portfolio-element .entry-tags {
  padding: 12px;
  background: #391817;
}
.portfolio-content-type .portfolio-element .entry-tags ul {
  margin: 0;
  text-align: center;
}
.portfolio-content-type .portfolio-element .entry-tags ul li {
  padding: 0;
}
.portfolio-content-type .portfolio-element .entry-item-rating {
  position: relative;
}
.portfolio-content-type .portfolio-element .entry-item-rating:before,
.portfolio-content-type .portfolio-element .entry-item-rating:after {
  content: " ";
  display: table;
}
.portfolio-content-type .portfolio-element .entry-item-rating:after {
  clear: both;
}
.portfolio-content-type .portfolio-element .entry-item-rating .raty-plugin {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  top: -24px;
}
.portfolio-content-type .portfolio-element .entry-portfolio-tags {
  padding: 12px;
  background: #391817;
}
.portfolio-content-type .portfolio-element .entry-portfolio-tags ul {
  text-align: center;
}
.portfolio-content-type .portfolio-element .entry-portfolio-tags ul > li {
  display: inline-block;
}
.portfolio-content-type .portfolio-element .entry-portfolio-tags ul > li {
  margin: 0 6px 0 0;
}
.portfolio-content-type .portfolio-element .entry-portfolio-tags ul li,
.portfolio-content-type .portfolio-element .entry-portfolio-tags ul li span {
  color: #ffffff;
}
.portfolio-content-type .portfolio-element .entry-single-portfolio:before,
.portfolio-content-type .portfolio-element .entry-single-portfolio:after {
  content: " ";
  display: table;
}
.portfolio-content-type .portfolio-element .entry-single-portfolio:after {
  clear: both;
}
.portfolio-content-type .portfolio-element .entry-more-details {
  text-align: center;
}
.portfolio-content-type .portfolio-element .entry-more-details a {
  display: block;
  background: #391817;
  color: #ffffff;
  padding: 12px;
  border: 1px solid #391817;
}
.portfolio-content-type .portfolio-element .entry-more-details a:hover {
  background: #ffffff;
  color: #391817;
}
.portfolio-content-type .portfolio-element .entry-title {
  margin: 0;
}
.portfolio-content-type .portfolio-element img {
  height: 260px;
}
/* -----------------------------------------------------
Single Portfolio
----------------------------------------------------- */
.single-portfolio {
  background: #e8e8e8;
  margin-bottom: 48px;
  /* Entry title center ***/
  /* Entry title default ***/
  /* Entry details ***/
  /* Entry shop details ***/
  /* Entry excerpt ***/
  /* Entry tags ***/
  /* Entry item rating ***/
  /* Entry portfolio tags ***/
  /* Entry single portfolio ***/
  /* Entry read more ***/
  margin-bottom: 0;
}
.single-portfolio .entry-title,
.single-portfolio .entry-excerpt,
.single-portfolio .entry-read-more,
.single-portfolio .entry-single-portfolio {
  margin: 0 24px 24px 24px;
}
.single-portfolio .entry-title-center {
  padding: 12px;
  background: #ed3d5b;
  color: #ffffff;
}
.single-portfolio .entry-title-center h1,
.single-portfolio .entry-title-center h2,
.single-portfolio .entry-title-center h3,
.single-portfolio .entry-title-center h4,
.single-portfolio .entry-title-center h5,
.single-portfolio .entry-title-center h6 {
  margin: 0;
  text-align: center;
  color: #ffffff;
}
.single-portfolio .entry-title h1,
.single-portfolio .entry-title h2,
.single-portfolio .entry-title h3,
.single-portfolio .entry-title h4,
.single-portfolio .entry-title h5,
.single-portfolio .entry-title h6 {
  margin: 0;
}
.single-portfolio .entry-details {
  margin-bottom: 24px;
  padding: 12px;
  background: #ed3d5b;
}
.single-portfolio .entry-details span,
.single-portfolio .entry-details i {
  color: #ffffff;
}
.single-portfolio .entry-details > span {
  margin-right: 6px;
}
.single-portfolio .entry-shop-details {
  background: #ffffff;
}
.single-portfolio .entry-shop-details:before,
.single-portfolio .entry-shop-details:after {
  content: " ";
  display: table;
}
.single-portfolio .entry-shop-details:after {
  clear: both;
}
.single-portfolio .entry-shop-details .left,
.single-portfolio .entry-shop-details .right {
  width: 50%;
  float: left;
  text-align: center;
}
.single-portfolio .entry-shop-details .left a {
  background: #ffffff;
  display: block;
  padding: 12px;
}
.single-portfolio .entry-shop-details .left a:hover {
  background: #391817;
  color: #ffffff;
}
.single-portfolio .entry-shop-details .right p {
  margin: 0;
  padding: 12px;
}
.single-portfolio .entry-excerpt p {
  line-height: 32px;
  margin: 0;
}
.single-portfolio .entry-tags {
  padding: 12px;
  background: #391817;
}
.single-portfolio .entry-tags ul {
  margin: 0;
  text-align: center;
}
.single-portfolio .entry-tags ul li {
  padding: 0;
}
.single-portfolio .entry-item-rating {
  position: relative;
}
.single-portfolio .entry-item-rating:before,
.single-portfolio .entry-item-rating:after {
  content: " ";
  display: table;
}
.single-portfolio .entry-item-rating:after {
  clear: both;
}
.single-portfolio .entry-item-rating .raty-plugin {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  top: -24px;
}
.single-portfolio .entry-portfolio-tags {
  padding: 12px;
  background: #391817;
}
.single-portfolio .entry-portfolio-tags ul {
  text-align: center;
}
.single-portfolio .entry-portfolio-tags ul > li {
  display: inline-block;
}
.single-portfolio .entry-portfolio-tags ul > li {
  margin: 0 6px 0 0;
}
.single-portfolio .entry-portfolio-tags ul li,
.single-portfolio .entry-portfolio-tags ul li span {
  color: #ffffff;
}
.single-portfolio .entry-single-portfolio:before,
.single-portfolio .entry-single-portfolio:after {
  content: " ";
  display: table;
}
.single-portfolio .entry-single-portfolio:after {
  clear: both;
}
.single-portfolio .entry-more-details {
  text-align: center;
}
.single-portfolio .entry-more-details a {
  display: block;
  background: #391817;
  color: #ffffff;
  padding: 12px;
  border: 1px solid #391817;
}
.single-portfolio .entry-more-details a:hover {
  background: #ffffff;
  color: #391817;
}
/* -----------------------------------------------------
Releated Portfolio
----------------------------------------------------- */
.css-releated-gallery {
  margin-left: -12px;
  margin-right: -12px;
}
.css-releated-gallery .slick-nav {
  top: 135px;
}
.css-releated-gallery .slick-prev {
  left: 12px;
}
.css-releated-gallery .slick-next {
  right: 12px;
}
.css-releated-gallery .entry {
  background: #e8e8e8;
  margin-bottom: 48px;
  /* Entry title center ***/
  /* Entry title default ***/
  /* Entry details ***/
  /* Entry shop details ***/
  /* Entry excerpt ***/
  /* Entry tags ***/
  /* Entry item rating ***/
  /* Entry portfolio tags ***/
  /* Entry single portfolio ***/
  /* Entry read more ***/
  margin-bottom: 0;
}
.css-releated-gallery .entry .entry-title,
.css-releated-gallery .entry .entry-excerpt,
.css-releated-gallery .entry .entry-read-more,
.css-releated-gallery .entry .entry-single-portfolio {
  margin: 0 24px 24px 24px;
}
.css-releated-gallery .entry .entry-title-center {
  padding: 12px;
  background: #ed3d5b;
  color: #ffffff;
}
.css-releated-gallery .entry .entry-title-center h1,
.css-releated-gallery .entry .entry-title-center h2,
.css-releated-gallery .entry .entry-title-center h3,
.css-releated-gallery .entry .entry-title-center h4,
.css-releated-gallery .entry .entry-title-center h5,
.css-releated-gallery .entry .entry-title-center h6 {
  margin: 0;
  text-align: center;
  color: #ffffff;
}
.css-releated-gallery .entry .entry-title h1,
.css-releated-gallery .entry .entry-title h2,
.css-releated-gallery .entry .entry-title h3,
.css-releated-gallery .entry .entry-title h4,
.css-releated-gallery .entry .entry-title h5,
.css-releated-gallery .entry .entry-title h6 {
  margin: 0;
}
.css-releated-gallery .entry .entry-details {
  margin-bottom: 24px;
  padding: 12px;
  background: #ed3d5b;
}
.css-releated-gallery .entry .entry-details span,
.css-releated-gallery .entry .entry-details i {
  color: #ffffff;
}
.css-releated-gallery .entry .entry-details > span {
  margin-right: 6px;
}
.css-releated-gallery .entry .entry-shop-details {
  background: #ffffff;
}
.css-releated-gallery .entry .entry-shop-details:before,
.css-releated-gallery .entry .entry-shop-details:after {
  content: " ";
  display: table;
}
.css-releated-gallery .entry .entry-shop-details:after {
  clear: both;
}
.css-releated-gallery .entry .entry-shop-details .left,
.css-releated-gallery .entry .entry-shop-details .right {
  width: 50%;
  float: left;
  text-align: center;
}
.css-releated-gallery .entry .entry-shop-details .left a {
  background: #ffffff;
  display: block;
  padding: 12px;
}
.css-releated-gallery .entry .entry-shop-details .left a:hover {
  background: #391817;
  color: #ffffff;
}
.css-releated-gallery .entry .entry-shop-details .right p {
  margin: 0;
  padding: 12px;
}
.css-releated-gallery .entry .entry-excerpt p {
  line-height: 32px;
  margin: 0;
}
.css-releated-gallery .entry .entry-tags {
  padding: 12px;
  background: #391817;
}
.css-releated-gallery .entry .entry-tags ul {
  margin: 0;
  text-align: center;
}
.css-releated-gallery .entry .entry-tags ul li {
  padding: 0;
}
.css-releated-gallery .entry .entry-item-rating {
  position: relative;
}
.css-releated-gallery .entry .entry-item-rating:before,
.css-releated-gallery .entry .entry-item-rating:after {
  content: " ";
  display: table;
}
.css-releated-gallery .entry .entry-item-rating:after {
  clear: both;
}
.css-releated-gallery .entry .entry-item-rating .raty-plugin {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  top: -24px;
}
.css-releated-gallery .entry .entry-portfolio-tags {
  padding: 12px;
  background: #391817;
}
.css-releated-gallery .entry .entry-portfolio-tags ul {
  text-align: center;
}
.css-releated-gallery .entry .entry-portfolio-tags ul > li {
  display: inline-block;
}
.css-releated-gallery .entry .entry-portfolio-tags ul > li {
  margin: 0 6px 0 0;
}
.css-releated-gallery .entry .entry-portfolio-tags ul li,
.css-releated-gallery .entry .entry-portfolio-tags ul li span {
  color: #ffffff;
}
.css-releated-gallery .entry .entry-single-portfolio:before,
.css-releated-gallery .entry .entry-single-portfolio:after {
  content: " ";
  display: table;
}
.css-releated-gallery .entry .entry-single-portfolio:after {
  clear: both;
}
.css-releated-gallery .entry .entry-more-details {
  text-align: center;
}
.css-releated-gallery .entry .entry-more-details a {
  display: block;
  background: #391817;
  color: #ffffff;
  padding: 12px;
  border: 1px solid #391817;
}
.css-releated-gallery .entry .entry-more-details a:hover {
  background: #ffffff;
  color: #391817;
}
.css-releated-gallery .releated-portfolio-element {
  padding: 0 12px;
}
.slick-slider-releated {
  margin-left: -12px;
  margin-right: -12px;
}
/* -----------------------------------------------------
Marsonry blog styles
----------------------------------------------------- */
.masonry-blog-content-type:before,
.masonry-blog-content-type:after {
  content: " ";
  display: table;
}
.masonry-blog-content-type:after {
  clear: both;
}
.masonry-blog-content-type .masonry-blog-element {
  height: auto;
  float: left;
  position: relative;
  background: #e8e8e8;
  margin-bottom: 48px;
  /* Entry title center ***/
  /* Entry title default ***/
  /* Entry details ***/
  /* Entry shop details ***/
  /* Entry excerpt ***/
  /* Entry tags ***/
  /* Entry item rating ***/
  /* Entry portfolio tags ***/
  /* Entry single portfolio ***/
  /* Entry read more ***/
  /* Design specific ***/
  margin: 0 12px 24px 12px;
}
.masonry-blog-content-type .masonry-blog-element .entry-title,
.masonry-blog-content-type .masonry-blog-element .entry-excerpt,
.masonry-blog-content-type .masonry-blog-element .entry-read-more,
.masonry-blog-content-type .masonry-blog-element .entry-single-portfolio {
  margin: 0 24px 24px 24px;
}
.masonry-blog-content-type .masonry-blog-element .entry-title-center {
  padding: 12px;
  background: #ed3d5b;
  color: #ffffff;
}
.masonry-blog-content-type .masonry-blog-element .entry-title-center h1,
.masonry-blog-content-type .masonry-blog-element .entry-title-center h2,
.masonry-blog-content-type .masonry-blog-element .entry-title-center h3,
.masonry-blog-content-type .masonry-blog-element .entry-title-center h4,
.masonry-blog-content-type .masonry-blog-element .entry-title-center h5,
.masonry-blog-content-type .masonry-blog-element .entry-title-center h6 {
  margin: 0;
  text-align: center;
  color: #ffffff;
}
.masonry-blog-content-type .masonry-blog-element .entry-title h1,
.masonry-blog-content-type .masonry-blog-element .entry-title h2,
.masonry-blog-content-type .masonry-blog-element .entry-title h3,
.masonry-blog-content-type .masonry-blog-element .entry-title h4,
.masonry-blog-content-type .masonry-blog-element .entry-title h5,
.masonry-blog-content-type .masonry-blog-element .entry-title h6 {
  margin: 0;
}
.masonry-blog-content-type .masonry-blog-element .entry-details {
  margin-bottom: 24px;
  padding: 12px;
  background: #ed3d5b;
}
.masonry-blog-content-type .masonry-blog-element .entry-details span,
.masonry-blog-content-type .masonry-blog-element .entry-details i {
  color: #ffffff;
}
.masonry-blog-content-type .masonry-blog-element .entry-details > span {
  margin-right: 6px;
}
.masonry-blog-content-type .masonry-blog-element .entry-shop-details {
  background: #ffffff;
}
.masonry-blog-content-type .masonry-blog-element .entry-shop-details:before,
.masonry-blog-content-type .masonry-blog-element .entry-shop-details:after {
  content: " ";
  display: table;
}
.masonry-blog-content-type .masonry-blog-element .entry-shop-details:after {
  clear: both;
}
.masonry-blog-content-type .masonry-blog-element .entry-shop-details .left,
.masonry-blog-content-type .masonry-blog-element .entry-shop-details .right {
  width: 50%;
  float: left;
  text-align: center;
}
.masonry-blog-content-type .masonry-blog-element .entry-shop-details .left a {
  background: #ffffff;
  display: block;
  padding: 12px;
}
.masonry-blog-content-type .masonry-blog-element .entry-shop-details .left a:hover {
  background: #391817;
  color: #ffffff;
}
.masonry-blog-content-type .masonry-blog-element .entry-shop-details .right p {
  margin: 0;
  padding: 12px;
}
.masonry-blog-content-type .masonry-blog-element .entry-excerpt p {
  line-height: 32px;
  margin: 0;
}
.masonry-blog-content-type .masonry-blog-element .entry-tags {
  padding: 12px;
  background: #391817;
}
.masonry-blog-content-type .masonry-blog-element .entry-tags ul {
  margin: 0;
  text-align: center;
}
.masonry-blog-content-type .masonry-blog-element .entry-tags ul li {
  padding: 0;
}
.masonry-blog-content-type .masonry-blog-element .entry-item-rating {
  position: relative;
}
.masonry-blog-content-type .masonry-blog-element .entry-item-rating:before,
.masonry-blog-content-type .masonry-blog-element .entry-item-rating:after {
  content: " ";
  display: table;
}
.masonry-blog-content-type .masonry-blog-element .entry-item-rating:after {
  clear: both;
}
.masonry-blog-content-type .masonry-blog-element .entry-item-rating .raty-plugin {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  top: -24px;
}
.masonry-blog-content-type .masonry-blog-element .entry-portfolio-tags {
  padding: 12px;
  background: #391817;
}
.masonry-blog-content-type .masonry-blog-element .entry-portfolio-tags ul {
  text-align: center;
}
.masonry-blog-content-type .masonry-blog-element .entry-portfolio-tags ul > li {
  display: inline-block;
}
.masonry-blog-content-type .masonry-blog-element .entry-portfolio-tags ul > li {
  margin: 0 6px 0 0;
}
.masonry-blog-content-type .masonry-blog-element .entry-portfolio-tags ul li,
.masonry-blog-content-type .masonry-blog-element .entry-portfolio-tags ul li span {
  color: #ffffff;
}
.masonry-blog-content-type .masonry-blog-element .entry-single-portfolio:before,
.masonry-blog-content-type .masonry-blog-element .entry-single-portfolio:after {
  content: " ";
  display: table;
}
.masonry-blog-content-type .masonry-blog-element .entry-single-portfolio:after {
  clear: both;
}
.masonry-blog-content-type .masonry-blog-element .entry-more-details {
  text-align: center;
}
.masonry-blog-content-type .masonry-blog-element .entry-more-details a {
  display: block;
  background: #391817;
  color: #ffffff;
  padding: 12px;
  border: 1px solid #391817;
}
.masonry-blog-content-type .masonry-blog-element .entry-more-details a:hover {
  background: #ffffff;
  color: #391817;
}
/* -----------------------------------------------------
Testimonials content type
----------------------------------------------------- */
.testimonials-content-container {
  width: 100%;
  overflow: hidden;
}
.testimonials-content-container .testimonials-content-type {
  margin-bottom: 48px;
}
/* -----------------------------------------------------
Marsonry blog sizes
----------------------------------------------------- */
.two-column-masonry-element {
  width: 554px;
}
.two-column-masonry-element .entry-image,
.two-column-masonry-element .entry-video iframe,
.two-column-masonry-element .entry-video {
  height: 554px;
}
.three-column-masonry-element {
  width: 364px;
}
.three-column-masonry-element .entry-image,
.three-column-masonry-element .entry-video iframe,
.three-column-masonry-element .entry-video {
  height: 364px;
}
.four-column-masonry-element {
  width: 264px;
}
.four-column-masonry-element .entry-image,
.four-column-masonry-element .entry-video iframe,
.four-column-masonry-element .entry-video {
  height: 264px;
}
.four-column-masonry-element .entry-image img {
  width: 264px;
  height: 264px;
}
/* -----------------------------------------------------
Shop
----------------------------------------------------- */
.shop-content-type-with-sidebar,
.shop-content-type-without-sidebar {
  margin: 0;
}
.shop-content-type-with-sidebar .shop-element {
  width: 262px;
}
.shop-content-type-with-sidebar .shop-element img {
  max-width: 262px;
}
.shop-content-type-without-sidebar .shop-element {
  width: 264px;
}
.shop-content-type-without-sidebar .shop-element img {
  max-width: 264px;
}
.shop-content-filters {
  margin: 0 12px 24px 12px;
}
.shop-content-type:before,
.shop-content-type:after {
  content: " ";
  display: table;
}
.shop-content-type:after {
  clear: both;
}
.shop-content-type .shop-element {
  float: left;
  background: #e8e8e8;
  margin-bottom: 48px;
  /* Entry title center ***/
  /* Entry title default ***/
  /* Entry details ***/
  /* Entry shop details ***/
  /* Entry excerpt ***/
  /* Entry tags ***/
  /* Entry item rating ***/
  /* Entry portfolio tags ***/
  /* Entry single portfolio ***/
  /* Entry read more ***/
  /* Design specific ***/
  margin: 0 12px 24px 12px;
}
.shop-content-type .shop-element .entry-title,
.shop-content-type .shop-element .entry-excerpt,
.shop-content-type .shop-element .entry-read-more,
.shop-content-type .shop-element .entry-single-portfolio {
  margin: 0 24px 24px 24px;
}
.shop-content-type .shop-element .entry-title-center {
  padding: 12px;
  background: #ed3d5b;
  color: #ffffff;
}
.shop-content-type .shop-element .entry-title-center h1,
.shop-content-type .shop-element .entry-title-center h2,
.shop-content-type .shop-element .entry-title-center h3,
.shop-content-type .shop-element .entry-title-center h4,
.shop-content-type .shop-element .entry-title-center h5,
.shop-content-type .shop-element .entry-title-center h6 {
  margin: 0;
  text-align: center;
  color: #ffffff;
}
.shop-content-type .shop-element .entry-title h1,
.shop-content-type .shop-element .entry-title h2,
.shop-content-type .shop-element .entry-title h3,
.shop-content-type .shop-element .entry-title h4,
.shop-content-type .shop-element .entry-title h5,
.shop-content-type .shop-element .entry-title h6 {
  margin: 0;
}
.shop-content-type .shop-element .entry-details {
  margin-bottom: 24px;
  padding: 12px;
  background: #ed3d5b;
}
.shop-content-type .shop-element .entry-details span,
.shop-content-type .shop-element .entry-details i {
  color: #ffffff;
}
.shop-content-type .shop-element .entry-details > span {
  margin-right: 6px;
}
.shop-content-type .shop-element .entry-shop-details {
  background: #ffffff;
}
.shop-content-type .shop-element .entry-shop-details:before,
.shop-content-type .shop-element .entry-shop-details:after {
  content: " ";
  display: table;
}
.shop-content-type .shop-element .entry-shop-details:after {
  clear: both;
}
.shop-content-type .shop-element .entry-shop-details .left,
.shop-content-type .shop-element .entry-shop-details .right {
  width: 50%;
  float: left;
  text-align: center;
}
.shop-content-type .shop-element .entry-shop-details .left a {
  background: #ffffff;
  display: block;
  padding: 12px;
}
.shop-content-type .shop-element .entry-shop-details .left a:hover {
  background: #391817;
  color: #ffffff;
}
.shop-content-type .shop-element .entry-shop-details .right p {
  margin: 0;
  padding: 12px;
}
.shop-content-type .shop-element .entry-excerpt p {
  line-height: 32px;
  margin: 0;
}
.shop-content-type .shop-element .entry-tags {
  padding: 12px;
  background: #391817;
}
.shop-content-type .shop-element .entry-tags ul {
  margin: 0;
  text-align: center;
}
.shop-content-type .shop-element .entry-tags ul li {
  padding: 0;
}
.shop-content-type .shop-element .entry-item-rating {
  position: relative;
}
.shop-content-type .shop-element .entry-item-rating:before,
.shop-content-type .shop-element .entry-item-rating:after {
  content: " ";
  display: table;
}
.shop-content-type .shop-element .entry-item-rating:after {
  clear: both;
}
.shop-content-type .shop-element .entry-item-rating .raty-plugin {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  top: -24px;
}
.shop-content-type .shop-element .entry-portfolio-tags {
  padding: 12px;
  background: #391817;
}
.shop-content-type .shop-element .entry-portfolio-tags ul {
  text-align: center;
}
.shop-content-type .shop-element .entry-portfolio-tags ul > li {
  display: inline-block;
}
.shop-content-type .shop-element .entry-portfolio-tags ul > li {
  margin: 0 6px 0 0;
}
.shop-content-type .shop-element .entry-portfolio-tags ul li,
.shop-content-type .shop-element .entry-portfolio-tags ul li span {
  color: #ffffff;
}
.shop-content-type .shop-element .entry-single-portfolio:before,
.shop-content-type .shop-element .entry-single-portfolio:after {
  content: " ";
  display: table;
}
.shop-content-type .shop-element .entry-single-portfolio:after {
  clear: both;
}
.shop-content-type .shop-element .entry-more-details {
  text-align: center;
}
.shop-content-type .shop-element .entry-more-details a {
  display: block;
  background: #391817;
  color: #ffffff;
  padding: 12px;
  border: 1px solid #391817;
}
.shop-content-type .shop-element .entry-more-details a:hover {
  background: #ffffff;
  color: #391817;
}
.shop-content-type .shop-element .entry-title {
  margin: 0;
}
.shop-content-type .shop-element .entry-shop-details .right p {
  font-weight: bold;
}
/* -----------------------------------------------------
Shop content type latest products
----------------------------------------------------- */
.shop-content-type-latest-products {
  margin-left: -12px;
  margin-right: -12px;
}
.shop-content-type-latest-products .shop-element {
  float: none;
  max-width: 360px;
  margin: 0 auto;
}
/* -----------------------------------------------------
Single product
----------------------------------------------------- */
.single-product .single-product-categories {
  margin-bottom: 12px;
}
.single-product .single-product-title,
.single-product .single-product-price,
.single-product .single-product-text,
.single-product .single-product-quantity,
.single-product .single-product-read-more,
.single-product .single-product-tags {
  margin-bottom: 24px;
}
/* -----------------------------------------------------
Pages
----------------------------------------------------- */
/* -----------------------------------------------------
Cart
----------------------------------------------------- */
table.cart-table th,
table.cart-table td {
  border: 0;
}
table.cart-table td:nth-child(1) {
  text-align: center;
}
table.cart-table th {
  background: #391817;
  color: #ffffff;
}
.cart-list li:before,
.cart-list li:after {
  content: " ";
  display: table;
}
.cart-list li:after {
  clear: both;
}
.cart-list li span.left {
  float: left;
}
.cart-list li span.right {
  float: right;
}
.cart-input {
  width: 34px;
  padding: 6px !important;
}
.cart-negative,
.cart-positive {
  padding: 6px;
  background: #391817;
  color: #ffffff;
  display: block;
  text-align: center;
  border-radius: 50%;
  width: 30px;
}
.cart-negative:hover,
.cart-positive:hover {
  background: #ed3d5b;
  color: #ffffff;
}
/* -----------------------------------------------------
2.35 - Chrome focus reset
----------------------------------------------------- */
input:focus,
textarea:focus {
  outline: 0 !important;
}
/* -----------------------------------------------------
2.36 - Decor lines
----------------------------------------------------- */
.head-decor-line-one {
  height: 32px;
  background: url("../images/line_pattern_variation_one.png") repeat-x;
}
.slider-decor-line-one {
  height: 32px;
  top: -32px;
  position: relative;
  z-index: 100;
  background: url("../images/line_pattern_variation_three.png") repeat-x;
}
.footer-decor-line-one {
  height: 32px;
  position: relative;
  background: url("../images/line_pattern_variation_two.png") repeat-x;
}
/* -----------------------------------------------------
2.37 - Pagination
----------------------------------------------------- */
.pagination {
  margin: 0;
  border-radius: 0;
}
.pagination a {
  display: block;
  text-align: center;
  line-height: 24px;
  padding: 6px;
}
.pagination ul > li {
  display: inline-block;
}
.pagination ul > li {
  margin: 0 6px 0 0;
}
.pagination ul li {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #391817;
  padding: 0;
}
.pagination ul li a {
  color: #ffffff;
}
.pagination ul li:hover {
  background: #ed3d5b;
}
.pagination ul li:hover a {
  color: #ffffff;
}
/* -----------------------------------------------------
2.38 - Team member
----------------------------------------------------- */
.team-member {
  max-width: 360px;
  margin: 0 auto;
}
.team-member .team-content {
  padding-top: 16px;
}
.team-member .team-content,
.team-member .team-thumb {
  background: #e8e8e8;
}
.team-member .team-thumb {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.team-member .team-thumb img {
  border-radius: 50%;
}
.team-member .team-excerpt {
  line-height: 32px;
  margin: 0 8px 16px 8px;
}
.team-member h3,
.team-member p,
.team-member .team-social {
  text-align: center;
}
.team-member .team-social {
  padding: 8px 0;
  background-color: #ed3d5b;
}
.team-member .team-social i {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
  color: #ffffff;
}
.team-member .team-social a {
  border: 0;
}
.team-member .team-social a:hover i {
  color: #391817;
}
/* -----------------------------------------------------
2.39 - Shop progress
----------------------------------------------------- */
.shop-progress li {
  line-height: 48px;
  text-align: center;
  width: 25%;
  position: relative;
}
.shop-progress li.on {
  border-bottom: 3px solid #ed3d5b;
}
.shop-progress li.on.current::after {
  content: "";
  color: white;
  background-color: #ed3d5b;
  height: 24px;
  width: 24px;
  border: none;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: 50%;
  bottom: -13px;
}
.shop-progress li.off {
  border-bottom: 3px solid #e8e8e8;
}
/* -----------------------------------------------------
2.39 - Shop progress
----------------------------------------------------- */
.testimonials {
  z-index: 1000;
  height: auto;
  background-position: center center;
}
.testimonials:before,
.testimonials:after {
  content: " ";
  display: table;
}
.testimonials:after {
  clear: both;
}
.testimonials .testimonials-avatar {
  float: left;
  width: 107px;
  height: 107px;
  margin-right: 24px;
}
.testimonials .testimonials-text {
  overflow: hidden;
}
.testimonials .divider-vertical {
  border-color: #e8e8e8;
}
.testimonials p,
.testimonials h1,
.testimonials h2,
.testimonials h3,
.testimonials h4,
.testimonials h5,
.testimonials h6,
.testimonials .divider-vertical {
  color: #ffffff;
  margin-bottom: 24px;
}
.testimonials h3 {
  color: #ffffff;
  margin-bottom: 12px;
}
.testimonials img {
  border-radius: 50%;
}
.testimonials .slick-nav {
  border-radius: 50%;
}
/* -----------------------------------------------------
2.41 - Standard social
----------------------------------------------------- */
.standard-social {
  text-align: left;
}
.standard-social .rs-btn-social {
  padding: 6px;
}
.standard-social i {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
  font-size: 12px;
  color: #ed3d5b;
}
.standard-social a {
  border: 0;
  background-color: #ffffff;
  border-radius: 50%;
  margin-right: 6px;
}
.standard-social a:hover i {
  color: #391817;
}
/* -----------------------------------------------------
2.42 - Clients
----------------------------------------------------- */
.client-image img {
  margin: 0 auto;
}
/* -----------------------------------------------------
2.43 - Divider vertical
----------------------------------------------------- */
.divider-vertical {
  border-bottom: 1px solid #e8e8e8;
  height: 1px;
  padding: 0;
  margin: 0 80% 6px 0;
}
.divider-vertical.postive-divider {
  border-color: #ed3d5b;
}
/* -----------------------------------------------------
2.44 - Nab tabs / Shop
----------------------------------------------------- */
.nav-tabs {
  border-bottom: 2px solid #e8e8e8;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  border-width: 0;
}
.nav-tabs > li > a {
  border: none;
  color: #391817;
  padding: 12px 0;
  margin-right: 12px;
}
.nav-tabs > li.active > a,
.nav-tabs > li > a:hover {
  border: none;
  color: #ed3d5b !important;
  background: transparent;
}
.nav-tabs > li > a::after {
  content: "";
  background: #ed3d5b;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -2px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}
.nav-tabs > li.active > a::after,
.nav-tabs > li:hover > a::after {
  transform: scale(1);
}
.tab-nav > li > a::after {
  background: #21527d none repeat scroll 0% 0%;
  color: #fff;
}
.tab-pane {
  padding: 0;
}
.tab-content {
  padding: 24px 0 0 0;
}
.card {
  background: #FFF none repeat scroll 0% 0%;
  /*box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);*/
}
/* -----------------------------------------------------
2.45 - Sk folding cube
----------------------------------------------------- */
.load-screen {
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  height: 100%;
  width: 100%;
}
.sk-folding-cube {
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  position: absolute;
  left: 50%;
  top: 50%;
}
.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ed3d5b;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
@keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
/* -----------------------------------------------------
2.46 - Google maps
----------------------------------------------------- */
.google-maps-place ul {
  margin-bottom: 10px;
}
#google-maps {
  width: 100%;
  height: 400px;
  margin-bottom: 48px;
}
/* -----------------------------------------------------
2.47 - Back to top
----------------------------------------------------- */
#back-to-top.affix-top {
  position: absolute;
  bottom: -82px;
  right: 10px;
  z-index: 1002;
}
#back-to-top.affix {
  position: fixed;
  bottom: 18px;
  right: 10px;
  z-index: 1002;
}
#back-to-top i {
  font-size: 48px;
}
/* -----------------------------------------------------
2.48 - Signature
----------------------------------------------------- */
.signature {
  margin-bottom: 24px;
}
/* -----------------------------------------------------
3.1 - Rs css sticky footer
----------------------------------------------------- */
html,
body {
  height: 100%;
}
.wrapper {
  position: relative;
  min-height: 100%;
  height: auto;
}
section.content:after {
  content: "";
  display: block;
}
/* -----------------------------------------------------
3.2 - Footer
----------------------------------------------------- */
footer {
  position: relative;
  clear: both;
  bottom: 0;
}
footer .primary-footer {
  background: #391817;
  padding: 48px 0;
}
footer .primary-footer .team-social a,
footer .primary-footer p,
footer .primary-footer ul li {
  color: #ffffff;
}
footer .primary-footer .team-social a {
  border: 0;
}
footer .primary-footer .team-social a:hover {
  color: #ed3d5b;
}
footer .primary-footer p {
  line-height: 32px;
}
footer .primary-footer p,
footer .primary-footer h1,
footer .primary-footer h2,
footer .primary-footer h3,
footer .primary-footer h4,
footer .primary-footer h5,
footer .primary-footer h6,
footer .primary-footer a {
  color: #ffffff;
  text-align: center;
}
footer .primary-footer .col-md-3 p,
footer .primary-footer .col-md-3 h1,
footer .primary-footer .col-md-3 h2,
footer .primary-footer .col-md-3 h3,
footer .primary-footer .col-md-3 h4,
footer .primary-footer .col-md-3 h5,
footer .primary-footer .col-md-3 h6,
footer .primary-footer .col-md-3 a {
  text-align: left;
}
footer .primary-footer .col-md-3 a:hover {
  color: #ed3d5b;
}
footer .primary-footer .widget {
  margin-bottom: 0;
}
footer .primary-footer .widget > ul > li {
  margin: 0 0 12px 0;
}
footer .primary-footer .widget > ul > li {
  padding: 6px 0;
}
footer .primary-footer .widget > ul > li {
  border-bottom: 1px solid #533534;
}
footer .primary-footer .widget > ul > li:last-child {
  border: 0;
}
footer .primary-footer .footer-social {
  text-align: center;
  margin-bottom: 24px;
}
footer .primary-footer .footer-social .rs-btn-social {
  padding: 24px;
}
footer .primary-footer .footer-social i {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
  color: #ed3d5b;
}
footer .primary-footer .footer-social a {
  border: 5px solid #ed3d5b;
  background-color: #ffffff;
  border-radius: 50%;
  margin-right: 24px;
}
footer .primary-footer .footer-social a:hover i {
  color: #391817;
}
footer .secondary-footer {
  position: relative;
  background: #ffffff;
  padding: 24px 0;
}
footer .secondary-footer:before,
footer .secondary-footer:after {
  content: " ";
  display: table;
}
footer .secondary-footer:after {
  clear: both;
}
footer .secondary-footer p {
  margin: 0;
}
footer .secondary-footer .footer-menu ul > li {
  display: inline-block;
}
footer .secondary-footer .footer-menu ul > li {
  padding: 0 6px 0 0;
}
/* =====================================================
4 - Responsive
===================================================== */
/* Large desktops and laptops */
@media (min-width: 1200px) {
  .container {
    width: 1176px;
  }
  .tp-banner-container {
    top: -75px;
    margin-bottom: -75px;
  }
  .slicknav_menu {
    display: none;
    margin-bottom: 0;
  }
  .secondary-footer .footer-menu {
    margin-bottom: 0;
  }
  .secondary-footer p {
    text-align: right;
  }
  .services-block .row > [class*="col-"] {
    text-align: left;
  }
  .services-block .row > [class*="col-"] * {
    text-align: left;
  }
  .services-block img {
    margin-bottom: 0;
  }
  .testimonials {
    padding: 86px 160px;
  }
  .testimonials .slick-prev {
    left: -60px;
  }
  .testimonials .slick-next {
    right: -60px;
  }
  .half-box-parent .half-box {
    width: 50%;
  }
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .slicknav_menu {
    display: block;
    margin-bottom: 48px;
  }
  header {
    display: none;
  }
  .secondary-footer .footer-menu {
    margin-bottom: 12px;
  }
  .secondary-footer p {
    text-align: left;
  }
  .services-block .row > [class*="col-"] {
    text-align: left;
  }
  .services-block .row > [class*="col-"] * {
    text-align: left;
  }
  .portfolio-content-type {
    margin: 0 88px;
  }
  .services-block img {
    margin-bottom: 0;
  }
  .testimonials {
    padding: 48px 160px;
  }
  .testimonials .slick-prev {
    left: -60px;
  }
  .testimonials .slick-next {
    right: -60px;
  }
  .half-box-parent .half-box {
    width: 50%;
  }
  .shop-content-type-with-sidebar {
    margin: 0 65px;
  }
  .shop-content-type-without-sidebar {
    margin: 0 185px;
  }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .slicknav_menu {
    display: block;
    margin-bottom: 48px;
  }
  header {
    display: none;
  }
  .secondary-footer .footer-menu {
    margin-bottom: 12px;
  }
  .secondary-footer p {
    text-align: left;
  }
  .services-block .row > [class*="col-"] {
    text-align: center;
  }
  .services-block .row > [class*="col-"] * {
    text-align: center;
  }
  .portfolio-content-type {
    margin: 0 170px;
  }
  .services-block img {
    margin-bottom: 24px;
  }
  .testimonials {
    padding: 48px 160px;
  }
  .testimonials .slick-prev {
    left: -60px;
  }
  .testimonials .slick-next {
    right: -60px;
  }
  .half-box-parent .half-box {
    width: 50%;
  }
  .shop-content-type-with-sidebar {
    margin: 0 77px;
  }
  .shop-content-type-without-sidebar {
    margin: 0 75px;
  }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .slicknav_menu {
    display: block;
    margin-bottom: 48px;
  }
  header {
    display: none;
  }
  .secondary-footer .footer-menu {
    margin-bottom: 12px;
  }
  .secondary-footer p {
    text-align: left;
  }
  .services-block .row > [class*="col-"] {
    text-align: center;
  }
  .services-block .row > [class*="col-"] * {
    text-align: center;
  }
  .portfolio-content-type {
    margin: 0 130px;
  }
  .services-block img {
    margin-bottom: 24px;
  }
  .testimonials {
    padding: 48px;
  }
  .testimonials .slick-nav {
    top: 90%;
  }
  .testimonials .slick-prev {
    left: 12px;
  }
  .testimonials .slick-next {
    right: 12px;
  }
  .half-box-parent .half-box {
    width: 50%;
  }
  .shop-content-type-with-sidebar {
    margin: 0 76px;
  }
  .shop-content-type-without-sidebar {
    margin: 0 75px;
  }
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .slicknav_menu {
    display: block;
    margin-bottom: 48px;
  }
  header {
    display: none;
  }
  .secondary-footer .footer-menu {
    margin-bottom: 12px;
  }
  .secondary-footer p {
    text-align: left;
  }
  .services-block .row > [class*="col-"] {
    text-align: center;
  }
  .services-block .row > [class*="col-"] * {
    text-align: center;
  }
  .portfolio-content-type {
    margin: 0 2px;
  }
  .portfolio-content-type .portfolio-element {
    width: 100%;
  }
  .services-block img {
    margin-bottom: 24px;
  }
  .testimonials {
    padding: 12px;
  }
  .testimonials .slick-nav {
    top: 90%;
  }
  .testimonials .slick-prev {
    left: 12px;
  }
  .testimonials .slick-next {
    right: 12px;
  }
  .half-box-parent .half-box {
    width: 100%;
  }
  .half-box-parent .half-box .align-right {
    float: left;
  }
  .shop-content-type-with-sidebar {
    margin: 0 76px;
  }
  .shop-content-type-without-sidebar {
    margin: 0 75px;
  }
}
@media (max-width: 360px) {
  .shop-content-type-with-sidebar {
    margin: 0 24px;
  }
  .shop-content-type-without-sidebar {
    margin: 0 24px;
  }
}
