@import "../../../css/less_structure/global/variables.less";
/* -----------------------------------------------------
Rubidium social toolkit
----------------------------------------------------- */
.rs-btn-social {
  border: 5px solid @alpha;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  padding: 64px; //change this
  border-radius: 90px;
  height: 34px;
  width: 34px;
  position: relative;
  i {
    color: #000000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    font-size: 22px;
    border: none;
    text-align: center;
  }
  &:active{
    .none-box-shadow;
  }
  &:hover{
    background: @alpha;
    color: @white;
  }
}

.none-box-shadow{
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}